/* Ogma UI Framefork Component / Layout / Version 2.0.0 */
/* Copyright 1998 - 2023 Ogma Inc. Design Department. All rights reserved */
/* stylelint-disable */


:root {
    --button-radius: 5px;
    --button-gap:5px;
    --button-padding:10px;
    --button-size:30px;
  }

    .button {
      padding: 0 var(--button-padding);
      gap: var(--button-gap);
      height: var(--button-size);
      min-height: var(--button-size);
      text-align: center;
      border-radius: var(--button-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      font-weight: 700;
      font-size: var(--text);
      white-space: nowrap;
      position: relative;
      background: transparent;
      /*flex-shrink: 0;*/
      overflow: hidden;
      line-height: var(--button-size);
      text-decoration: none;
      color: inherit;
    }
  .button:hover { background-image: var(--over-color); }
  /* .button:active { background-image: var(--press-color); } */
  
  
  /* .button * { pointer-events: none; } */
  
  .button.rounded { --button-radius: 30px; }
  .button.open { background-image: var(--over-color); }
  
        .button text,
        .button icon
 {
           z-index: 1;
        }
  
  .button:active text,
  .button:active icon,
  .button:active badge,
  .button:active tip,
  .button:active dot 
  
  { transform: translateY(1px); }


  .button text { width: 100%; overflow: hidden; text-overflow: ellipsis;}
  
  a.button:not([data-outline="none"]) text { text-decoration: underline; }
  
  /* .button icon { margin: 0 0 0 -10px; }
  .button text ~ icon { margin: 0 -10px 0 0; }

[dir="rtl"]  .button icon{margin: 0 -10px 0 0;}
[dir="rtl"] .button text ~ icon{margin: 0 0 0 -10px;}
  

  .button separator {margin:0 15px}


  .button.large icon { margin: 0 10px 0 -5px; }
  .button.large text ~ icon { margin: 0 -5px 0 10px; }

  [dir="rtl"]  .button.large:not(.mini) icon{margin: 0 -5px 0 10px;}
[dir="rtl"] .button.large:not(.mini) text ~ icon{margin: 0 5px 0 -10px;}
 */


  .button.mini icon,
  .button.extra icon,
  .button.micro icon { margin: auto; }
  
  .button.mini { width: 40px; /* height: 40px;*/ padding-left: 0; padding-right: 0; flex-shrink: 0; }
  .button.mini.rounded { height: 40px; }
  
  .button.micro { width: 30px; height: 30px; padding-left: 0; padding-right: 0; flex-shrink: 0; }
  
  .button.accent{ box-shadow: inset 0 0 0 1.52px; /*margin: 0 5px;*/ }
  




  .button.extra { padding: 0; height: 100%; width: 100%; border-radius: 0; margin: 0; }


  
  .button.primary { background-color: var(--main-color); color: #fff;fill:#fff;
  
        --over-color: linear-gradient(to top, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, .05) 100%);
          --press-color: linear-gradient(to top, rgba(0, 0, 0, .07) 0%, rgba(0, 0, 0, .07) 100%);
  
  }
    .button.primary.dark { background-color: var(--main-color-dark); }

  .button.secondary {background-color: var(--secondary-color); color: #fff;fill:#fff;
  
    --over-color: linear-gradient(to top, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, .05) 100%);
      --press-color: linear-gradient(to top, rgba(0, 0, 0, .07) 0%, rgba(0, 0, 0, .07) 100%);
  
  }

  .button.preview { margin: auto; top: 0; left: 0; right: 0; bottom: 0; width: 60px; height: 60px; padding: 0; position: absolute; z-index: 5; }
  .button.preview icon { margin: 0; }
  
  .button.fit {flex: 1; max-width: 100%;}
  .button.wide {width: 100%;}
  
  
  .button.special { background-color: var(--special-color); color: #fff; }
  .button.highlight { background-color: var(--hover); --over-color: linear-gradient(to top, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, .05) 100%);
    --press-color: linear-gradient(to top, rgba(0, 0, 0, .07) 0%, rgba(0, 0, 0, .07) 100%);}
  
  .button.outline { box-shadow: inset 0 0 0 1px var(--outline); background-color:var(--context); }

  
  .button.accent:hover{ box-shadow: none; background-color: var(--main-color); color: #fff; }
  .button.accent:active { box-shadow: none;
    background-color: var(--main-color);
    color: #fff; }
  

  .button.accent.fill { background: var(--main-background); color: initial; box-shadow: inset 0 0 0 1.52px var(--main-background); }
  .button.accent.fill:hover { background-image: var(--over-color); }


  .button.large {
        --button-radius: 5px;
          --button-gap: 10px;
          --button-padding: 10px;
          --button-size: 40px;

   }
  
  .button[disabled], 
    .button[data-disabled] 
  { opacity: 0.5; cursor: default; pointer-events: none; }
  
  button::-moz-focus-inner { border: none; }
  
  .button.adaptive icon { display: none; }
  .button.adaptive icon[data-hide="false"] { display: flex; }



  /* floating */


  .button.fab { width: 60px; height: 60px; padding: 0; border-radius: 60px; }
  .button.fab icon { margin: auto; }



  /**/



  /* .button.error { background: var(--error-color); color: #fff; }
  .button tip { font-weight: 500; }
  .caption { height: 30px; text-align: center; border-radius: 30px; display: flex; align-items: center; justify-content: center; padding: 0 15px 0 10px; user-select: none; font-size: var(--text); white-space: nowrap; position: relative; background: transparent; flex-shrink: 0; overflow: hidden; text-decoration: none; max-width: 100%; }
  .caption text { max-width: 100%; overflow: hidden; text-overflow: ellipsis; }
  .caption dot { padding: 0 10px; }
   */
  
  @media (max-width: 900px) {
      .button.adaptive icon { display: flex; }

      .button.adaptive text,
      .option_bar label[separate] > wrap icon + text,
      .option_bar.dynamic label > wrap icon + text { display: none; }
      .button.adaptive { min-width: 40px; width: 40px; /*min-height: 40px; height: 40px;*/ padding-left: 0; padding-right: 0; }
      .button.adaptive.compact { /* min-width: 30px; width: 30px;*/ min-height: 30px; height: 30px; }
  }
  
  


  .button .material_ink { border-radius: var(--button-radius);}



/* stylelint-enable */