/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */



input[disabled] ~ box,
input[disabled] ~ text { opacity: 0.5; cursor: default; }


/* [checkbox] */

[checkbox],
[radio],
[classic] { display: flex; align-items: center; min-height: 32px; white-space: nowrap; position: relative; /*overflow: hidden;*/ cursor: pointer; max-width: 100%;}

[checkbox]:active,
[radio]:active,
[classic]:active { transform: translateY(1px); }

[checkbox] input,
[radio] input,
[classic] input { display: none; }

[checkbox][simple] box { height: 20px; width: 34px; display: flex; position: relative; border-radius: 10px; flex-shrink: 0; cursor: pointer; box-shadow: inset 0 0 0 2px; }

[checkbox] text,
[radio] text,
[classic] text { padding: 0 10px; white-space: nowrap; width: 100%; overflow: hidden; position: relative; text-overflow: ellipsis; }

box ink { width: 50px; height: 50px; position: absolute; top: -16px; left: -16px; border-radius: 25px; overflow: hidden; z-index: 1; }
box ink:hover { background-color: var(--hover); }


[checkbox] input:checked ~ box { color: var(--main-color); }

[checkbox][simple] check { height: 10px; width: 10px; box-shadow: inset 0 0 0 7px; top: 5px; left: 5px; transition: 0.25s;  border-radius: 20px; position: absolute;
    }

[checkbox][simple]:active box check { width: 15px; }
[checkbox][simple]:active input:checked ~ box check { left: 0px; }

[checkbox][simple] input:checked ~ box { box-shadow: inset 0 0 0 20px;}
[checkbox][simple] input:checked ~ box check { transform: translateX(14px); box-shadow: inset 0 0 0 0px; }

[checkbox][simple] check {background: var(--background);}




[checkbox][minimal] box { height: 28px; width: 28px; flex-shrink: 0; display: flex; align-items: center;  overflow: hidden; }

[checkbox][minimal] check { height: 2px;  position: relative; display: flex; box-shadow: inset 0 0 0 2px;transition: transform .275s;flex-shrink: 0; transform: translateX(-12px);  }
[checkbox][minimal] check[data-name="handle"] { height: 16px; width: 16px; display: flex; border-radius: 16px; transition-property: box-shadow, transform; }
[checkbox][minimal] check:first-child {width: 12px; border-radius: 2px 0 0 2px;}
[checkbox][minimal] check:last-child {width: 9px;left:3px; border-radius: 2px;}



[checkbox][minimal] input:checked ~ box check {  box-shadow: inset 0 0 0 10px; transform: none; }

/* ----- */

/* radio */

[radio] box { display: flex; position: relative; border-radius: 10px; flex-shrink: 0; box-shadow: inset 0 0 0 2px;  }
[radio] box { height: 18px; width: 18px; }
[radio] check { height: 8px; width: 8px; transition: 0.25s; background: white; border-radius: 20px; position: absolute; top: 5px; left: 5px; transform: scale(0); background: var(--main-color); }
[radio] input:checked ~ box { color: var(--main-color); }
[radio] input:checked ~ box check { transform: scale(1); }
/* ----- */

[classic] box { display: flex; position: relative; flex-shrink: 0; box-shadow: inset 0 0 0 2px; transition: 0.125s; border-radius: 3px; }
[classic] box { height: 18px; width: 18px; /*border-radius: 3px;*/ }
[classic] check {  top: 0; left: 0; height: 18px; width: 18px;  display: none;
/* 
    background-image: url("data:image/svg+xml,%3Csvg fill='white' xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M13.991,7.456L8.4,13,5.01,9.637,6.474,8.183,8.4,10.093,12.526,6Z'/%3E%3C/svg%3E"); */

}

/* [classic]:active box {box-shadow: inset 0 0 0 2px, inset 0 0 0 10px var(--main-color-lighter)} */

[classic] input:checked ~ box { color: var(--main-color); box-shadow: inset 0 0 0 10px; }

[classic] input:checked ~ box check { display: flex; color:var(--main-color-text) }

[classic] separator + box { margin-left: 10px; }
[classic] box + separator { margin-left: 20px; }

/**/



label[minimal] { display: flex; align-items: center; overflow: hidden; position: relative;  cursor: pointer; }
label[minimal] .ant-select { display: flex; align-items: center;  }
label[minimal] separator { --gap: 20px; height: 20px; }
label[minimal] separator + .ant-select { padding: 0; }
label[minimal]:active .ant-select .ant-select-selection-item text { transform: translateY(1px); }




@keyframes check-tick{100%{stroke-dashoffset:0;}}
[data-name="check-tick"]{stroke-dasharray:10 12;stroke-dashoffset:11;animation:check-tick 225ms linear 0ms forwards;}




/* stylelint-enable */