/* Ogma UI Framefork Component / Layout / Version 2.0.0 */
/* Copyright 1998 - 2023 Ogma Inc. Design Department. All rights reserved */
/* stylelint-disable */

/* context_menu */

/* .context_menu { background: var(--context);box-shadow: var(--elevation_2);transition-delay: .125s; max-width: calc(100vw - 20px); max-height: calc(100% - 20px); visibility: hidden; opacity: 0; transition-property:transform, opacity, visibility;transition-duration:.2s,.125s,.125s; position: absolute; z-index: 9999; cursor: default; top: 0; left:0; display: flex; }
.context_menu.hover {z-index: 10000;}
.context_menu.open { visibility: visible; opacity: 1; transition-delay: 0s; }

.context_wrap { max-height: inherit; max-width: inherit; width: 100%; overflow: hidden; display: flex; flex-direction: column; position: relative; padding: 10px; }
.context_container {overflow-y: auto;overflow-y: overlay;border-radius: 10px;overflow-x: hidden;width: 100%;display: flex;background: var(--context);box-shadow: var(--elevation_2);-webkit-overflow-scrolling: touch;transform: translateY(-10px);opacity: 0;transition: .125s;}
.open .context_container { transform: translateY(0); opacity: 1; }
.context_menu .close_window { display: none; }
.context_wrap footer { background: #ffffff; padding: 15px; box-shadow: 0 5px 12px -2px rgba(0, 0, 0,.2), 0 0 0 1px rgba(0,0,0,.05); position: relative; z-index: 100; } */



.context_menu {visibility: hidden; opacity: 0;z-index: 99;}

.context_menu.relative {position: absolute;}




    .context_menu.adaptive {width: 100%;height: 100vh;}


/* .context_menu.open{display: flex; visibility: hidden;}
.context_menu.open.active{display: flex;} */


.context_menu.open{display: flex;}
.context_menu.open.active{visibility: visible; opacity: 1;}


/*list template*/
.list_menu {height: 100%;width:100%;--radius:var(--button-radius); position: relative; }
.list_menu ul {height: 100%;width:100%;display: flex;flex-direction: column;-webkit-overflow-scrolling: touch;overflow: auto;overflow:overlay;min-width: 240px;margin: 0;/* padding: 10px; */box-sizing: border-box;/*font-weight: initial*/}
.list_menu li {/*max-width:360px; color: var(--text-color);*/flex-shrink: 0;position: relative;white-space: nowrap;overflow: hidden;box-sizing: border-box;text-overflow: ellipsis;width: 100%; max-width: 100%;cursor: pointer;user-select: none;display: flex;align-items: center;}
.list_menu li.search{background: var(--input-color);}

.list_menu ul > wrap { display: flex; flex-direction: column; overflow: hidden; }
.list_menu ul wrap[scroll] { display: flex; flex-direction: column; overflow: auto; overflow:overlay; flex: 1; }
.list_menu li icon { margin: 3px; }
.list_menu li:hover {background-image: var(--over-color); }
.list_menu li.selected { background-color: var(--main-color); color: #fff; }
.list_menu ul li.inactive {pointer-events: none; cursor: initial;}
.list_menu li.selected {}



.list_menu ul li:active { background-image: var(--over-color); }
.list_menu ul li:not([data-type="inert"]):active text, 
.list_menu ul li:not([data-type="inert"]):active icon { transform: translateY(1px); }

.list_menu ul li[data-type="inert"]{cursor: default; background: none;}

.list_menu li.separator { height: 1px; background: var(--outline); margin: 10px 0; pointer-events: none; }
.list_menu li a text,
.list_menu li label text {min-width: 0; overflow: hidden; position: relative; text-overflow: ellipsis; }
.list_menu li > text{ overflow: hidden; position: relative; text-overflow: ellipsis; max-width:100%;}
.list_menu li.highlight { font-weight: 700 }
.list_menu li.title { opacity: .5; pointer-events: none; }
.list_menu li.disabled { opacity: .5; cursor: default; }
.list_menu li.hidden { display: none;}
.list_menu li[data-bottom] { margin-top: auto }
.list_menu li.search input { padding: 0; box-shadow: none; height: 40px; background: none; }


.list_menu.auto_width ul {min-width: initial;}



.list_menu li > a, 
.list_menu li > label{ text-decoration: none; display: flex; align-items: center; width: 100%;cursor: pointer; }



.context_menu.open .list_menu li badge { margin: 15px; }

.list_menu li [advanced] { display: flex; align-items: center; }


.list_menu li.inactive lable{cursor:default;}


@keyframes list_item {
    from {
        transform: translateY(-10px);
  
        opacity: 0
    }
}


[data-type="animate"][data-name="context"].open .list_menu li { animation: list_item .225s backwards; }
[data-type="animate"][data-name="context"].open .list_menu li:nth-last-child(1) { animation-duration: .15s }
[data-type="animate"][data-name="context"].open .list_menu li:nth-last-child(2) { animation-duration: .175s }
[data-type="animate"][data-name="context"].open .list_menu li:nth-last-child(3) { animation-duration: .2s }


[data-name="context"]{ transition-duration: .125s; transition-property:  visibility, opacity; opacity: 0; max-height: calc(100vh - var(--offset-top) - 10px);  }
[data-name="context"].open{opacity: 1;}

/**/


/* 

.context_menu.open .list_menu li { animation: list_item .125s .125s backwards; }
.context_menu.open .list_menu li:nth-last-child(1) { animation-delay: .2s }
.context_menu.open .list_menu li:nth-last-child(2) { animation-delay: .175s }
.context_menu.open .list_menu li:nth-last-child(3) { animation-delay: .15s }
 */


/**/



.menu_cont{position:absolute; overflow: hidden;}
.menu_cont[data-alignment="right"]{right:0}



@media (max-width: 600px)
{
    /* .menu_cont{width: calc(100vw - 40px);} */
    
}


/**/
@keyframes open_nav {from {transform: translateX(100%);}}
.active.context_menu .side_nav{ animation:open_nav 0.275s both;}

.side_nav {width:100%;height: 100%;position: relative;top: 0;right:0;z-index: 99;}
.side_nav .list_menu{border-radius:inherit;}




/* stylelint-enable */