/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */


group, [data-type="group"] { display: flex; flex-wrap: wrap; width: 100%; position: relative;max-width: 100%; }
group[data-type="grid"]{display: grid;grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));}



group[data-type="grid"][data-grid-template="fit"]{grid-template-columns: repeat(auto-fill, 100%);} 

group[data-type="grid"][data-grid-template="30"]{grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));} 

group[data-type="grid"][data-grid-template="40"]{grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));} 
group[data-type="grid"][data-grid-template="50"]{grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));} 
group[data-type="grid"][data-grid-template="60"]{grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));} 
group[data-type="grid"][data-grid-template="70"]{grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));} 
group[data-type="grid"][data-grid-template="80"]{grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));} 


group[data-type="grid"][data-grid-template="100"]{grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));} 
group[data-type="grid"][data-grid-template="110"]{grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));} 
group[data-type="grid"][data-grid-template="120"]{grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));} 
group[data-type="grid"][data-grid-template="180"]{grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));} 
group[data-type="grid"][data-grid-template="200"]{grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));} 
group[data-type="grid"][data-grid-template="240"]{grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));} 

group[data-type="grid"][data-grid-template="260"]{grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));} 


group[data-type="grid"][data-grid-template="300"]{grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));} 
group[data-type="grid"][data-grid-template="320"]{grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));} 
group[data-type="grid"][data-grid-template="360"]{grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));} 
group[data-type="grid"][data-grid-template="400"]{grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));} 
group[data-type="grid"][data-grid-template="600"]{grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));} 



group[data-type="grid"][data-grid-template="200/140"]{grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));} 
group[data-type="grid"][data-grid-template="180/140"]{grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));} 
group[data-type="grid"][data-grid-template="240/140"]{grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));} 

group[data-type="grid"][data-grid-template-columns="4"]{grid-template-columns:repeat(4, 1fr)}



@media (max-width: 500px) {


    
    
group[data-type="grid"][data-grid-template="300"],
group[data-type="grid"][data-grid-template="320"],
group[data-type="grid"][data-grid-template="360"]
    
    {grid-template-columns: repeat(auto-fit, 100%);} 


    group[data-type="grid"][data-grid-template="200/140"]{grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));} 
    group[data-type="grid"][data-grid-template="180/140"]{grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));} 
    group[data-type="grid"][data-grid-template="240/140"]{grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));} 
}

@media (max-width: 300px) {
group[data-type="grid"],
group[data-type="grid"][data-grid-template]


{grid-template-columns: repeat(auto-fit, 100%);}


}


    [data-container-type="grid"]{container-type: inline-size; container-name:grid;}

    @container grid (max-width: 400px)

    {
        group[data-type="grid"],
        group[data-type="grid"][data-grid-template]
        {grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));}

    } 
    





group[data-type="column"] {display: block; flex-direction: column; columns: 6 300px;  
/* 
    column-rule: 1px var(--border-color) solid; */

}

[data-type="column"][data-column-template="4"]{ columns: 4 300px;}
[data-type="column"][data-column-template="5"]{ columns: 5 300px;}
[data-type="column"][data-column-template="7"]{ columns: 7 300px;}
[data-type="column"][data-column-template="8"]{ columns: 8 300px;}

[data-type="column"][data-column-size="200"]{ column-width: 200px;}
[data-type="column"][data-column-size="240"]{ column-width: 240px;}
[data-type="column"][data-column-size="260"]{ column-width: 260px;}
[data-type="column"][data-column-size="320"]{ column-width: 320px;}
[data-type="column"][data-column-size="400"]{ column-width: 400px;}
[data-type="column"][data-column-size="500"]{ column-width: 500px;}



[data-break-after="column"]{break-after: column;}
[data-type="column"][data-column-gap="0"] {column-gap: 0;}
[data-type="column"][data-column-gap="1"] {column-gap: 1px;}
[data-type="column"][data-column-gap="15"] {column-gap: 15px;}
[data-type="column"][data-column-gap="20"] {column-gap: 20px;}
[data-type="column"][data-column-gap="30"] {column-gap: 30px;}
[data-type="column"][data-column-gap="40"] {column-gap: 40px;}

@media (max-width: 1200px) {

    [data-break-after="column"] {
        break-after: avoid-page;
    }

}


[data-type="column"][data-column-gap="15"] > group:not(:last-of-type),
[data-type="column"][data-column-gap="15"] > [data-type="group"]:not(:last-of-type)


{ margin-bottom: 15px;}

group[data-type="column"] > group {/*display: inline-flex;*/  width: 100%; break-inside: avoid; }






group[data-wrap="no"],[data-type="group"][data-wrap="no"] { flex-wrap: nowrap; }
group[width="initial"] ,
group[data-width="auto"],

[data-wrap="no"][data-width="auto"],
[data-type="group"][data-width="auto"]

{ width: initial }
group[layout='block'] { display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); flex-wrap: wrap; gap: 15px; width: 100%; }



group.hide { display: none }
   
@media (max-width: 900px) {group[hide] {display:none;}}










group[data-adaptive="mobile"] {display: none;}

@media (max-width: 800px)

{
    group[data-adaptive="mobile"] {display: flex;}
    group[data-adaptive="desktop"] {display: none;}
}



[data-row-end="2"] {grid-row-end: span 2;}
[data-row-end="3"] {grid-row-end: span 3;}

[data-column-end="2"] {grid-column-end: span 2;}

/* stylelint-enable */

