/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */




icon {
    /* font-family: "Material Symbols Rounded";
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 200, 'opsz' 20;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none; 
    
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    
    */
    display: flex;
    align-items: center;
    justify-content: center;


    height: 30px;
    /* width: 20px; */
    flex-shrink: 0;
    overflow: hidden;

    max-width: 30px;
    position: relative;
}


icon[data-icon-weight="100"]{font-variation-settings: 'wght' 100;}
icon[data-icon-weight="200"]{font-variation-settings: 'wght' 200;}
icon[data-icon-weight="300"]{font-variation-settings: 'wght' 300;}
icon[data-icon-weight="500"]{font-variation-settings: 'wght' 500;}
icon[data-icon-weight="600"]{font-variation-settings: 'wght' 600;}
icon[data-icon-weight="700"]{font-variation-settings: 'wght' 700;}


icon[data-icon-size="16"]      {font-size: 16px; height: 16px;  max-width: 16px;}
icon[data-icon-size="small"]   {font-size: 20px; height: 20px;  max-width: 20px;}
icon[data-icon-size="24"]      {font-size: 18px; height: 24px;  max-width: 24px;}

icon[data-icon-size="48"]      {font-size: 30px; height: 48px;  width: 48px; max-width: 48px;}
icon[data-icon-size="mini"]  {font-size:24px; }
icon[data-icon-size="medium"]  {font-size:48px;  height: 48px;  max-width: 48px;}
icon[data-icon-size="large"] {
    font-size: 60px;
    height: 60px;
    max-width: 60px;
}
icon[data-icon-size="x-large"] {font-size:96px;  height: 96px;  max-width: 96px;}
icon[data-icon-size="x-large"] {font-size:112px; height: 112px; max-width: 112px;}

icon[data-fill="fill"] 
{ font-variation-settings: "FILL" 1;}




[data-opacity="light"] { opacity: .15 }


[data-svg-icon-size="55"] svg {width: 55px; height: 55px;}



/* Sizes */


icon[large] { width: 90px; height: 90px; font-size: 90px; }
icon[extralarge] { width:130px; height: 130px; font-size: 130px; }
icon[medium] { width: 60px; height: 60px; font-size: 50px; }
icon[micro] { width: 15px; height: 15px; font-size: 15px; }




/*SVG animated icons*/

[data-icon="hamburger"] { transition: transform 0.25s;  }
[data-icon="hamburger"] rect { transition-duration: 0.25s; transition-delay: 0.25s; transition-property: transform; transform-origin: center; }
[data-icon="hamburger"] rect:nth-child(2) { transition-duration: 0.25s; transition-delay: 0s; }

.open [data-icon="hamburger"] {transition: transform 0.25s 0.25s;}
.open [data-icon="hamburger"] {transform: rotate(45deg);}
.open [data-icon="hamburger"] rect { transition-duration: 0.25s; transition-delay: 0s; }
.open [data-icon="hamburger"] rect:nth-child(1) { transform: translateY(5px); }
.open [data-icon="hamburger"] rect:nth-child(2) { transform: rotate(90deg); transition-duration: 0.35s; transition-delay: 0.25s; }
.open [data-icon="hamburger"] rect:nth-child(3) { transform: translateY(-5px); opacity: 0; }




[data-icon="hamburgertoleft"] { transition: transform 0.35s;  }
[data-icon="hamburgertoleft"] rect { transition-duration: 0.25s; transition-property: transform, width; transform-origin: center; }

.open [data-icon="hamburgertoleft"] {transform: rotate(-180deg);}
.open [data-icon="hamburgertoleft"] rect:nth-child(1) {transform: translate(2px,2px) rotate(45deg);width: 10px;/* x: 6; */}
.open [data-icon="hamburgertoleft"] rect:nth-child(3) {transform: translate(2px,-2px) rotate(-45deg);width: 10px;/* x: 6; */}


[data-icon="hamburgertoright"] { transition: transform 0.35s;  }
[data-icon="hamburgertoright"] rect { transition-duration: 0.25s; transition-property: transform, width; transform-origin: center; }

.open [data-icon="hamburgertoright"] {transform: rotate(180deg); }
.open [data-icon="hamburgertoright"] rect:nth-child(1) {transform: translate(1px,-1px) rotate(-45deg);width: 10px;/* x: 4; */}
.open [data-icon="hamburgertoright"] rect:nth-child(3) {transform: translate(1px,1px) rotate(45deg);width: 10px;/* x: 4; */}


@keyframes smooth-hamburger-right {from{transform: rotate(180deg)}to{transform: rotate(360deg);}}

[data-loop="smooth"] [data-icon="hamburgertoright"] { transition-duration:0s; animation: smooth-hamburger-right 0.35s;}
.open [data-loop="smooth"] [data-icon="hamburgertoright"] { transition-duration:0.35s; animation: none;}


[data-icon="plus"]{transition:transform 0.25s;}
[data-icon="plus"] rect{transition-duration: 0.25s;transition-property: transform;transform-origin: center;}
[data-icon="plus"] rect:nth-child(2) { transition-duration: 0.25s;}

.open [data-icon="plus"] {transform: rotate(90deg);}
.open [data-icon="plus"] rect:nth-child(2) {transform: rotate(90deg);}






[data-icon="minus"]{transition:transform 0.25s;}
[data-icon="minus"] rect{transition-duration: 0.25s;transition-property: transform;transform-origin: center;}
[data-icon="minus"] rect:nth-child(2) { transition-duration: 0.25s;}

.open [data-icon="minus"] {transform: rotate(90deg);}
.open [data-icon="minus"] rect:nth-child(2) {transform: rotate(90deg);}




icon svg { max-width: 100%; max-height: 100%;  }





/* stylelint-enable */

@keyframes cred-icon-demo_draw{100%{stroke-dashoffset:0;}}@keyframes cred-icon-demo_fade{0%{stroke-opacity:1;}93.54838709677419%{stroke-opacity:1;}100%{stroke-opacity:0;}}

.cred-icon-demo_0{stroke-dasharray:41 43;stroke-dashoffset:42;animation:cred-icon-demo_draw 2000ms ease-out .125s forwards;}
.cred-icon-demo_1{stroke-dasharray:6 8;stroke-dashoffset:7;animation:cred-icon-demo_draw 2000ms ease-out    .125s forwards;}
.cred-icon-demo_2{stroke-dasharray:96 98;stroke-dashoffset:97;animation:cred-icon-demo_draw 2000ms ease-out .125s forwards;}
.cred-icon-demo_3{stroke-dasharray:96 98;stroke-dashoffset:97;animation:cred-icon-demo_draw 2000ms ease-out .125s forwards;}
.cred-icon-demo_4{stroke-dasharray:30 32;stroke-dashoffset:31;animation:cred-icon-demo_draw 2000ms ease-out .125s forwards;}
.cred-icon-demo_5{stroke-dasharray:11 13;stroke-dashoffset:12;animation:cred-icon-demo_draw 2000ms ease-out .125s forwards;}
.cred-icon-demo_6{stroke-dasharray:11 13;stroke-dashoffset:12;animation:cred-icon-demo_draw 2000ms ease-out .125s forwards;}
.cred-icon-demo_7{stroke-dasharray:51 53;stroke-dashoffset:52;animation:cred-icon-demo_draw 2000ms ease-out .125s forwards;}
.cred-icon-demo_8{stroke-dasharray:96 98;stroke-dashoffset:97;animation:cred-icon-demo_draw 2000ms ease-out .125s forwards;}
