/* Ogma UI Framefork Component / Layout / Version 2.0.0 */
/* Copyright 1998 - 2023 Ogma Inc. Design Department. All rights reserved */
/* stylelint-disable */

@keyframes nav_tree_menu {from{max-height: 40px;}to{max-height:calc((var(--quantity) * 40px) + 40px)}}
@keyframes nav_tree_menu_close {from{max-height:calc((var(--quantity) * 40px) + 40px)}to{max-height: 0px;}}


.nav_tree_cont { transition: .225s; position: relative; z-index:9; display: flex; max-width: 100%; overflow-x: auto; scroll-snap-type: x mandatory; scroll-behavior: smooth; -webkit-overflow-scrolling: touch; /* scrollbar-gutter: stable;*/ overflow: overlay; background: var(--context); box-shadow: var(--elevation_2); border-radius: 0 0 10px 10px; }
.nav_tree_menu {scroll-snap-stop: always;scroll-snap-align: end;display: flex;width: 325px;flex-shrink: 0;box-shadow: inset 0px 2px 0 0 var(--main-color); }
.nav_tree_menu_wrap {box-shadow: 1px 0 0 0 var(--border-color);display: flex;height: 100%;align-items: flex-start;width: 100%;animation: nav_tree_menu .175s backwards;}


.nav_tree_cont.smooth_close {opacity: 0;}
.nav_tree_cont.smooth_close .nav_tree_menu_wrap{ opacity: 0;animation: nav_tree_menu_close .275s forwards; }




/* .nav_tree_cont::-webkit-scrollbar{display: none;} */


.nav_tree_menu  .list_menu {/*--radius:0*/}
.nav_tree_menu  .list_menu ul {padding: 20px; /*max-height: calc(100vh - 120px); */  /*justify-content: center;*/}
.nav_tree_menu  .list_menu li {max-width: 100%;flex-shrink: 0;color: var(--text-color);padding: 0;line-height: 40px;/* width: auto; *//* flex-grow: 1; */background-image: none;min-height: 40px;/* width: 100%; */}
.nav_tree_menu  .list_menu li text {line-height: initial;}
/* .nav_tree_menu  .list_menu li[data-display="mobile"] {display: none;} */

.nav_tree_menu  .list_menu li:hover{background-color: var(--main-color-lighter);}

:root:not(.dark-mode) .nav_tree_menu .list_menu li:not(.selected):hover {fill:var(--main-color); color:var(--main-color-dark); }

.nav_tree_menu  .list_menu li.selected {background-color: var(--main-color);color: #fff;box-shadow: 20px 0px 0 0 var(--main-color);fill:#fff;font-weight: 700; transition: box-shadow .125s; border-radius: 5px 0 0 5px;}

.nav_tree_menu  .list_menu li a {/* flex: 1; */padding: 10px 15px;width: 100%;overflow: hidden;display: flex;}


.nav_tree_menu  .list_menu li label {box-shadow: inset 0 1px var(--border-color);}
.nav_tree_menu  .list_menu li label .button{--button-radius:0}
.nav_tree_menu  .list_menu li label .button.open{background-image:none;}
.nav_tree_menu  .list_menu li label .button:hover{background-image:none;background-color:var(--main-color-lighter);}




.nav_tree_menu .list_menu li:first-child label,
.nav_tree_menu .list_menu li.selected label,
.nav_tree_menu .list_menu li.selected + li label,
.nav_tree_menu .list_menu li:hover label,
.nav_tree_menu .list_menu li:hover + li label

{
    box-shadow: none;
}


@media (min-width: 600px)
{

    .nav_tree_menu .list_menu li[data-display="mobile"]{display: none;}
    .nav_tree_menu .list_menu li[data-display="mobile"] + li label

{
    box-shadow: none;
}
    
}




@media (max-width: 1200px)
{
    .nav_tree_menu{width: calc((100vw - 40px) / 3);}
}

@media (max-width: 800px)
{
    .nav_tree_menu{width: calc((100vw - 40px) / 2);}
}

@media (max-width: 600px)
{
    .nav_tree_menu{width: 100%;}
    .nav_tree_menu .list_menu li[data-display="mobile"]{display: flex;}
    
}







.nav_tree_menu li {animation: appearfromleft .225s .125s backwards;}

.nav_tree_menu li:nth-child(5){animation-delay: .1s;}
.nav_tree_menu li:nth-child(4){animation-delay: .075s;}
.nav_tree_menu li:nth-child(3){animation-delay: .05s;}
.nav_tree_menu li:nth-child(2){animation-delay: .025s;}
.nav_tree_menu li:nth-child(1){animation-delay: .0s;}



/* stylelint-enable */