/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */

/* windows */



:root { --dim: rgba(230, 230, 230, 0.8); }


[data-name="modal-wrapper"]{z-index: 9997; width: 100%;}
[data-name="modal-backdrop"] {background-color: var(--dim); }