/* Ogma UI Framefork Component / Layout / Version 2.0.0 */
/* Copyright 1998 - 2023 Ogma Inc. Design Department. All rights reserved */
/* stylelint-disable */


/*scrollbar*/



:root{
    --scrollbar-size: 10px;
    --mask-size: 50px;
    --scroll-button-position:10px;
    --scroll-snap:initial;
    --scroll-padding:0;
}



.mobile list[horizontal]::-webkit-scrollbar,
ul[section]::-webkit-scrollbar,
.nav_strip ul::-webkit-scrollbar,
.desktop ::-webkit-scrollbar-button:vertical:decrement:end,
.desktop ::-webkit-scrollbar-button:vertical:increment:start,
.desktop ::-webkit-scrollbar-button:horizontal:decrement:end,
.desktop ::-webkit-scrollbar-button:horizontal:increment:start { display: none; }

.desktop ::-webkit-scrollbar-track {  }
.desktop ::-webkit-scrollbar { width: var(--scrollbar-size); height: var(--scrollbar-size); background-color: rgba(136, 136, 136, 0.1) }
.desktop ::-webkit-scrollbar-thumb { background-color: rgba(136, 136, 136, 0); height: var(--scrollbar-size); width: var(--scrollbar-size); background-color: rgba(136, 136, 136, 0.3); background-clip: content-box; }


/* .desktop ::-webkit-scrollbar-thumb:vertical { border-left: var(--scrollbar-size) solid transparent; border-right: var(--scrollbar-size) solid transparent; }
.desktop ::-webkit-scrollbar-thumb:horizontal { border-top: var(--scrollbar-size) solid transparent; border-bottom: var(--scrollbar-size) solid transparent; } */

.desktop body::-webkit-scrollbar { width: var(--scrollbar-size); height: var(--scrollbar-size); }
.desktop body::-webkit-scrollbar-thumb { border: none;background-color: rgba(136, 136, 136, 0.3)}
.desktop ::-webkit-scrollbar-button { width: var(--scrollbar-size); height: var(--scrollbar-size); display: none; }
.desktop ::-webkit-scrollbar-corner,
.desktop ::-webkit-resizer { background-color: transparent; }

.desktop * { scrollbar-color: rgba(136, 136, 136, 0.25) ; /*scrollbar-width: thin;*/ }
/* 
.desktop :hover > ::-webkit-scrollbar-thumb,
.desktop:hover > ::-webkit-scrollbar-thumb { background-color: rgba(136, 136, 136, 0.5); } */


/* stylelint-enable */



/**/

html.mobile {}

.snapcont {display: flex; flex-direction: column; overflow: hidden; height: 100%; width:100%; }
.snapcont.vertical {flex-direction: row; }
.snapscroll { display: flex; overflow: hidden; }
.snapcont.horizontal .snapscroll { flex-direction: column; height: 100%; }
.snapcont.vertical .snapscroll { flex-direction: row; width:100% }
.snapscroll > * { overflow: auto; overflow: overlay;  scroll-behavior: smooth; -webkit-overflow-scrolling: touch;scrollbar-gutter: stable; scrollbar-width: thin; }
.snapcont.horizontal .snapscroll > * {display: flex; float: left; overflow-y: hidden; scroll-snap-type:var(--scroll-snap); height: 100%; scrollbar-width: none; scroll-padding: var(--scroll-padding);
-webkit-overflow-scrolling: touch;
    /* scroll-behavior: smooth; */
}

[data-scroll-type="snap"] {--scroll-snap:x mandatory;}
[data-scroll-padding="20"] {--scroll-padding:20px;}


.snapcont.vertical .snapscroll > * { overflow-x: hidden; scroll-snap-type: var(--scroll-snap); width:100%;scrollbar-width: none; }
.snapscroll.dragging > *{scroll-snap-type:initial; scroll-behavior: initial; }

/* .snapscroll.dragging > * > * {pointer-events: none;} */

.snapscroll > * > * {scroll-snap-stop: always;scroll-snap-align: start;}
.snapscroll.dragging > * > * {scroll-snap-stop: initial;scroll-snap-align: initial;}

.snapscroll.dragging{cursor: move;}


/* .snapscroll.dragging {

    cursor: -webkit-grab;
    cursor:    -moz-grab;
    cursor:         grab; 
} */

.snapscroll.dragging {

    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

.snapscroll > *::-webkit-scrollbar{display: none;}


.snapcont.horizontal.left > .snapscroll > * {-webkit-mask-image: linear-gradient(to left, #000 calc(100% - calc(var(--mask-size) * 2)), transparent calc(100% - var(--mask-size)));}
.snapcont.horizontal.right > .snapscroll > *{-webkit-mask-image: linear-gradient(to right, #000 calc(100% - calc(var(--mask-size) * 2)), transparent calc(100% - var(--mask-size)));}
.snapcont.horizontal.left.right > .snapscroll > * {-webkit-mask-image:linear-gradient(to right, transparent var(--mask-size),#000 calc(var(--mask-size) * 2),#000 calc(100% - calc(var(--mask-size) * 2)),transparent calc(100% - var(--mask-size)));}

.snapcont.vertical.left > .snapscroll {-webkit-mask-image: linear-gradient(to top, #000 calc(100% - calc(var(--mask-size) * 2)), transparent calc(100% - var(--mask-size)));}
.snapcont.vertical.right > .snapscroll {-webkit-mask-image: linear-gradient(to bottom, #000 calc(100% - calc(var(--mask-size) * 2)), transparent calc(100% - var(--mask-size)));}
.snapcont.vertical.left.right > .snapscroll {-webkit-mask-image:linear-gradient(to bottom, transparent var(--mask-size),#000 calc(var(--mask-size) * 2),#000 calc(100% - calc(var(--mask-size) * 2)),transparent calc(100% - var(--mask-size)));}


/* html.mobile .snapcont{--mask-size:70px } */

[data-scroll-mask="false"]{--mask-size:0}

html.mobile .snapcont.horizontal.left > .snapscroll > * {-webkit-mask-image: linear-gradient(to left, #000 calc(100% - var(--mask-size)), transparent 100%);}
html.mobile .snapcont.horizontal.right > .snapscroll > *{-webkit-mask-image: linear-gradient(to right, #000 calc(100% - var(--mask-size)), transparent 100%);}
html.mobile .snapcont.horizontal.left.right > .snapscroll > * {-webkit-mask-image:linear-gradient(to right, transparent 0%,#000 var(--mask-size),#000 calc(100% - var(--mask-size)),transparent 100%)}

html.mobile .snapcont.vertical.left > .snapscroll {-webkit-mask-image: linear-gradient(to top, #000 calc(100% - var(--mask-size)), transparent 100%);}
html.mobile .snapcont.vertical.right > .snapscroll {-webkit-mask-image: linear-gradient(to bottom, #000 calc(100% - var(--mask-size)), transparent 100%);}
html.mobile .snapcont.vertical.left.right > .snapscroll {-webkit-mask-image:linear-gradient(to bottom, transparent 0%,#000 var(--mask-size),#000 calc(100% - var(--mask-size)),transparent 100%)}


.snapcont .button.slider {position: absolute; z-index: 9;    transform-origin: center center; transition-delay: 0s; margin: 0; transition: .225s; transition-property: width, visibility;  }

.snapcont.horizontal .button.slider {top: 50%; transform: translateX(0) translateY(-50%); }
.snapcont.horizontal .button.slider.prev { left: var(--scroll-button-position) }
.snapcont.horizontal .button.slider.next { right: var(--scroll-button-position) }

.snapcont.vertical .button.slider {left: 50%; transform: translateX(-50%) translateY(0); }
.snapcont.vertical .button.slider.prev { top: var(--scroll-button-position) }
.snapcont.vertical .button.slider.next { bottom: var(--scroll-button-position) }


[data-snap-button="compact"] {--scroll-button-position:5px;}
[data-snap-button="15"] {--scroll-button-position:15px;}


.snapcont .button.slider:not(.show)

,
html.mobile .snapcont .button.slider
{visibility: hidden; 

    width: 0px;

} 

.snapcont .button.slider:not(.show) icon {opacity: 0;}


/**/