@keyframes tooltip {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
}

.tooltip {
  animation: tooltip 0.125s 0.425s backwards;
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  max-width: calc(100% - 20px);
}

[data-length].tooltip{max-width: calc(100% - 20px);;}

[data-background="tooltip"]
{
  background-color: #2d2d2d;
}
