
/* Ogma UI Framefork Component / Layout / Version 2.0.0 */
/* Copyright 1998 - 2023 Ogma Inc. Design Department. All rights reserved */
/* stylelint-disable */



toolbar {min-height: 60px; min-height: var(--area); width: 100%; position: relative; background: #fff; background: var(--background); display: flex; align-items: center; box-shadow: 0 0 0 1px #e4e4e4; box-shadow: 0 0 0 1px var(--border-color); box-sizing: border-box; user-select: none; display: flex; padding: 0 calc((var(--area) - 40px) / 2); z-index: 99; gap:var(--gap);}
toolbar[disabled] { pointer-events: none; }

toolbar[border="no"]{box-shadow:none}
toolbar[border="bottom"]{box-shadow: 0 1px 0 0 var(--border-color);}

toolbar[data-accent] { background: var(--main-color); color: #fff; box-shadow: none; padding: 0 10px }
toolbar[data-highlight] { background: var(--highlight) }
toolbar[center] { justify-content: center; }
toolbar[error] { background: var(--special-color); color: #fff }

toolbar[right] { justify-content: flex-end }
toolbar[scroll],toolbar[data-type="snap"] { padding: 0 }
toolbar > wrap { display: flex; position: relative; align-items: center;     padding: 0 calc((var(--area) - 40px) / 2); flex-shrink: 0 }
toolbar[scroll] > wrap { min-width: 100%; }



/*toolbar nav[launcher] { flex: 1; display: flex; overflow: hidden; }
toolbar nav[launcher] ul { display: flex; max-width: 100%; }
toolbar nav[launcher] ul li a { display: flex; height: 30px; padding: 0 15px; align-items: center; text-decoration: none; overflow: hidden; width: 100%; }
toolbar nav[launcher] ul li a { }
toolbar nav[launcher] ul li { display: flex; cursor: pointer; border-radius: 30px; white-space: nowrap; position: relative; max-width: 100%; overflow: hidden; }
toolbar nav[launcher] ul li.selected { background: var(--main-color); color: #fff; cursor: default; font-weight: 700; flex-shrink:0  }
toolbar nav[launcher] ul li:hover { background-image: var(--over-color); }
toolbar nav[launcher] ul li:active { background-image: var(--press-color) }
toolbar nav[launcher] ul li.separator { box-shadow: inset 1px 0 0 0px; opacity: .15; height: 30px; min-width: 1px; width: 1px; margin: 0 10px; position: relative; z-index: 2; }
toolbar nav[launcher] ul li:active text { transform: translateY(1px); }
toolbar nav[launcher] ul li text { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }*/





/* stylelint-enable */