@keyframes tooltip {
  from {
    opacity: 0;
  }
}

group.tooltip {
  animation: tooltip .225s backwards;
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  max-width: calc(100% - 20px);
}

[data-length].tooltip{max-width: calc(100% - 20px);}

[data-background="tooltip"]
{
  background-color: #2d2d2d;
}

group.popover {
  animation: tooltip .225s  backwards;
  position: absolute;
  z-index: 9998;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
}


