@keyframes tooltip { from { opacity: 0; } }
[data-animation-name="tooltip"] {animation-name: tooltip;}



group.tooltip {
  animation: tooltip .225s backwards;
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  max-width: calc(100% - 20px);
}

[data-length].tooltip{max-width: calc(100% - 20px);}
[data-background="tooltip"] { background-color: #2d2d2d; }


@keyframes popover-top {
  
  from{clip-path: inset(100% 100% 0% 0% round 10px);}
  to {clip-path: inset(0% 0% 0% 0% round 10px);}

}

@keyframes popover-bottom {
  
  from{clip-path: inset(100% 50% 0% 50% round 10px);}
  to {clip-path: inset(0% 0% 0% 0% round 10px);}

}




group.popover {

  position: absolute;
  z-index: 9998;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 20px);
}

/* group.popover.top { animation: popover-top .225s  backwards;}
group.popover.bottom { animation: popover-bottom .225s  backwards;} */

