/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */




/*view*/
view

{display: flex; width: 100%; height: 100%; position: relative; overflow: hidden;flex-direction: column; z-index: 1;background: var(--background); box-shadow: 0 0 0 1px var(--border-color); }  






view[data-shrink="no"]{flex-shrink:0}


view[data-vertical] {flex-direction: row;}
view[data-horizontal] {flex-direction: column;}









view > form { display: flex; overflow: hidden; flex-direction: column; width: 100%; height: 100%; }





view[data-align="center"] {align-items:center; justify-content:center }

view[data-scroll] scroller { flex: 1 }




view[data-size="small"] { max-width: 340px;}
view[data-size="medium"]{ max-width: 500px;}
view[data-size="large"] { max-width: 720px;}
view[data-size="900"] { max-width: 900px;}

[data-scrollbar="none"]{scrollbar-width: none;}


@media (max-width: 800px)


{

    view[data-adaptive][data-vertical]
    
    
    { flex-direction: column;
        overflow: auto;
        overflow: overlay;

        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        z-index: 1;
        scroll-behavior: smooth;
        overscroll-behavior: contain;
    }

    
    view[data-adaptive][data-vertical] view
    
    
    {max-width: initial;height: initial; max-height: initial; flex-shrink: 0; overflow: initial;}

}





view.hide { display:none; }

view[data-border="none"]{box-shadow:none}
view[data-background="none"]{background:none}






/**/



:root{
    --switch-size:50px;
    --float-gap:0px
}


[data-switch-size="60"] { --switch-size: 60px }

[data-name="switchable"][data-expanded="true"]{z-index: 11;}

[data-name="switchable"][data-expanded="false"] > [data-name="switch_content"] { display: none; }




[data-name="switchable"]   {transition:  .125s; transition-property: width, height, max-height, flex-shrink, max-width, border-radius;}
[data-name="switch"]{/*transition: .225s; transition-property: width, height;*/ min-height: var(--switch-size); }



[data-name="switchable"][data-expanded="false"]:not([data-type="overlap"]):not([data-switch-direction="horizontal"]){width: var(--switch-size);flex-shrink: 0; flex-direction: row;}
[data-name="switchable"]:not([data-switch-direction="horizontal"]) > [data-name="switch"]{width: var(--switch-size); max-width: var(--switch-size);  height: 100%; writing-mode: vertical-rl; text-orientation: mixed; }
[data-name="switchable"][data-expanded="false"][data-switch-direction="horizontal"] {height: var(--switch-size); flex-shrink: 0; }


[data-name="switchable"][data-type="adaptive"][data-placement="right"],
[dir="rtl"] [data-name="switchable"][data-type="adaptive"][data-placement="left"] 

{right:0; left:initial}

[data-name="switchable"][data-type="adaptive"][data-placement="left"],
[dir="rtl"] [data-name="switchable"][data-type="adaptive"][data-placement="right"] 


{left:0; right: initial;}



[data-float="5"]{--float-gap:5px}
[data-float="10"]{--float-gap:10px}
[data-float="15"]{--float-gap:15px}
[data-float="20"]{--float-gap:20px}
[data-float="30"]{--float-gap:30px}



[data-adaptive-float="5"]{--float-gap:5px}
[data-adaptive-float="10"]{--float-gap:10px}
[data-adaptive-float="15"]{--float-gap:15px}
[data-adaptive-float="20"]{--float-gap:20px}
[data-adaptive-float="30"]{--float-gap:30px}

[data-float]
{
    max-height: calc(100% - calc(2 * var(--float-gap)));margin: var(--float-gap);
    max-width: calc(100% - calc(2 * var(--float-gap)));margin: var(--float-gap);
}





[data-name="switch-gap"]{display: none;width:var(--switch-size);}


[data-name="switchable"][data-expanded="false"][data-type="overlap"]:not([data-switch-direction="horizontal"])
{width: var(--switch-size);flex-shrink: 0; flex-direction: row;}



@media  (min-width: 801px) 
{





[data-name="switchable"][data-expanded="false"][data-type="overlap"]:not([data-switch-direction="horizontal"]) > [data-name="switch"]
{width: var(--switch-size); height: 100%; writing-mode: vertical-rl; text-orientation: mixed; }
    


}


[data-collapse-radius="30"][data-name="switchable"][data-expanded="false"][data-type="overlap"] {border-radius:30px;}
[data-collapse-radius="30"][data-name="switchable"][data-expanded="true"][data-type="overlap"] {border-radius:10px;}


[data-name="switchable"][data-type="overlap"] {   border-radius: 5px; max-width:calc(100% - calc(2 * var(--float-gap))); max-height: calc(100% - calc(2 * var(--float-gap)));  margin: var(--float-gap); box-shadow: var(--elevation_1); position: absolute; z-index: 10; }
[data-name="switchable"][data-expanded="false"][data-type="overlap"] [data-name="switch"]{}


/* [data-name="switchable"][data-expanded="false"][data-type="overlap"]{height: var(--switch-size); max-height: var(--switch-size); } */

[data-name="switchable"][data-type="adaptive"]{position: absolute;}
[data-name="switch-gap"]{display: flex;}









/* stylelint-enable */