/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */



@keyframes appear-left {from{opacity: 0;transform: translateX(-50px);}to{}}
@keyframes appear-bottom {from{opacity: 0;transform: translateY(50px);}to{}}
@keyframes appear-top {from{opacity: 0;transform: translateY(-50px);}to{}}

@keyframes appear-top-small {from{opacity: 0;transform: translateY(-20px);}to{}}

@keyframes zoom-in {from{opacity: 0;transform: scale(.5);}to{}}
@keyframes zoom-in-9 {from{opacity: 0;transform: scale(.9);}to{}}
@keyframes zoom-out {to{opacity: 0;transform: scale(.5);}}


@keyframes background-48 {to{background-position: 48px 48px;}}




@keyframes to-top { 50%, 100%{transform: translateY(-100%);} }

@keyframes to-bottom { 40%,60%{transform: scale(0);} }

@keyframes scale-8 {0%, 50%{transform: scale(.8);}to{} }


@keyframes to-left { to{transform: translateX(-100%);} }
@keyframes to-right { to{transform: translateX(100%) translateX(-60px) ;} }


@keyframes to-left-right { from{transform: translateX(-100%);}to{transform: translateX(100%);} }

@keyframes bounce
 {

20%{transform: scale(1.2);}
40%{transform: scale(.9);}
60%{transform: scale(1.1);}
}


[data-animation-name="background-48"] {animation:background-48;}

[data-animation-name="demo"]{animation-name: demo;}


[data-animation-name="appear-left"]{animation-name: appear-left;}
[data-animation-name="appear-bottom"]{animation-name: appear-bottom;}
[data-animation-name="appear-top"]{animation-name: appear-top;}
[data-animation-name="appear-top-small"]{animation-name: appear-top-small;}
[data-animation-name="zoom-in"]{animation-name:zoom-in;}
[data-animation-name="zoom-in-9"]{animation-name:zoom-in-9;}
[data-animation-name="zoom-out"]{animation-name:zoom-out;}
[data-animation-name="to-top"]{animation-name: to-top;}
[data-animation-name="to-bottom"]{animation-name: to-bottom;}

[data-animation-name="to-left"]{animation-name: to-left;}

[data-animation-name="to-left-right"]{animation-name: to-left-right;}

[data-animation-name="to-right"]{animation-name: to-right;}

[data-animation-name="scale-8"]{animation-name: scale-8;}

[data-animation-name="bounce"]{animation-name: bounce;}


[data-animation-timing="linear"] { animation-timing-function: linear; }
[data-animation-timing="ease"] { animation-timing-function: ease; }
[data-animation-timing="ease-in"] { animation-timing-function: ease-in; }
[data-animation-timing="ease-out"] { animation-timing-function: ease-out; }
[data-animation-timing="ease-in-out"] { animation-timing-function: ease-in-out; }
[data-animation-timing="fancy"]{animation-timing-function: cubic-bezier(0,1.3,.7,1);}








[data-animation-delay="1"] {animation-delay: 0.1s;}
[data-animation-delay="1.25"] {animation-delay: 0.125s;}
[data-animation-delay="1.5"] {animation-delay: 0.15s;}
[data-animation-delay="1.75"] {animation-delay: 0.175s;}
[data-animation-delay="2"] {animation-delay: 0.2s;}
[data-animation-delay="2.25"] {animation-delay: 0.225s;}
[data-animation-delay="2.5"] {animation-delay: 0.25s;}
[data-animation-delay="2.75"] {animation-delay: 0.275s;}
[data-animation-delay="3"] {animation-delay: 0.3s;} /* Added for 3 */
[data-animation-delay="3.25"] {animation-delay: 0.325s;} /* Added for 3.25 */
[data-animation-delay="3.5"] {animation-delay: 0.35s;} /* Added for 3.5 */
[data-animation-delay="3.75"] {animation-delay: 0.375s;} /* Added for 3.75 */
[data-animation-delay="4"] {animation-delay: 0.4s;} /* Added for 4 */


[data-animation-duration="none"] {animation-duration: 0s;}

[data-animation-duration="1"] {animation-duration: 0.1s;}
[data-animation-duration="1.25"] {animation-duration: 0.125s;}
[data-animation-duration="1.5"] {animation-duration: 0.15s;}
[data-animation-duration="1.75"] {animation-duration: 0.175s;}
[data-animation-duration="2"] {animation-duration: 0.2s;}
[data-animation-duration="2.25"] {animation-duration: 0.225s;}
[data-animation-duration="2.5"] {animation-duration: 0.25s;}
[data-animation-duration="2.75"] {animation-duration: 0.275s;}

[data-animation-duration="3"] {animation-duration: 0.3s;} /* Added for 3 */
[data-animation-duration="3.25"] {animation-duration: 0.325s;} /* Added for 3.25 */
[data-animation-duration="3.5"] {animation-duration: 0.35s;} /* Added for 3.5 */
[data-animation-duration="3.75"] {animation-duration: 0.375s;} /* Added for 3.75 */
[data-animation-duration="4"] {animation-duration: 0.4s;} /* Added for 4 */
[data-animation-duration="4.25"] {animation-duration: 0.425s;} /* Added for 4.25 */
[data-animation-duration="4.5"] {animation-duration: 0.45s;} /* Added for 4.5 */
[data-animation-duration="4.75"] {animation-duration: 0.475s;} /* Added for 4.75 */
[data-animation-duration="5"] {animation-duration: 0.5s;} /* Added for 5 */
[data-animation-duration="5.25"] {animation-duration: 0.525s;} /* Added for 5.25 */
[data-animation-duration="5.5"] {animation-duration: 0.55s;} /* Added for 5.5 */
[data-animation-duration="5.75"] {animation-duration: 0.575s;} /* Added for 5.75 */
[data-animation-duration="6"] {animation-duration: 0.6s;} /* Added for 6 */
[data-animation-duration="6.25"] {animation-duration: 0.625s;} /* Added for 6.25 */
[data-animation-duration="6.5"] {animation-duration: 0.65s;} /* Added for 6.5 */
[data-animation-duration="6.75"] {animation-duration: 0.675s;} /* Added for 6.75 */
[data-animation-duration="7"] {animation-duration: 0.7s;} /* Added for 7 */
[data-animation-duration="7.25"] {animation-duration: 0.725s;} /* Added for 7.25 */
[data-animation-duration="7.5"] {animation-duration: 0.75s;} /* Added for 7.5 */
[data-animation-duration="7.75"] {animation-duration: 0.775s;} /* Added for 7.75 */
[data-animation-duration="8"] {animation-duration: 0.8s;} /* Added for 8 */

[data-animation-duration="16"] {animation-duration: 1.6s;} /* Added for 8 */


[data-duration="1"] {transition-duration: 0.1s;}
[data-duration="1.25"] {transition-duration: 0.125s;}
[data-duration="1.5"] {transition-duration: 0.15s;}
[data-duration="1.75"] {transition-duration: 0.175s;}
[data-duration="2"] {transition-duration: 0.2s;}
[data-duration="2.25"] {transition-duration: 0.225s;}
[data-duration="2.5"] {transition-duration: 0.25s;}
[data-duration="2.75"] {transition-duration: 0.275s;}

[data-duration="3"] {transition-duration: 0.3s;} /* Added for 3 */
[data-duration="3.25"] {transition-duration: 0.325s;} /* Added for 3.25 */
[data-duration="3.5"] {transition-duration: 0.35s;} /* Added for 3.5 */
[data-duration="3.75"] {transition-duration: 0.375s;} /* Added for 3.75 */
[data-duration="4"] {transition-duration: 0.4s;} /* Added for 4 */
[data-duration="4.25"] {transition-duration: 0.425s;} /* Added for 4.25 */
[data-duration="4.5"] {transition-duration: 0.45s;} /* Added for 4.5 */
[data-duration="4.75"] {transition-duration: 0.475s;} /* Added for 4.75 */
[data-duration="5"] {transition-duration: 0.5s;} /* Added for 5 */
[data-duration="5.25"] {transition-duration: 0.525s;} /* Added for 5.25 */
[data-duration="5.5"] {transition-duration: 0.55s;} /* Added for 5.5 */
[data-duration="5.75"] {transition-duration: 0.575s;} /* Added for 5.75 */
[data-duration="6"] {transition-duration: 0.6s;} /* Added for 6 */
[data-duration="6.25"] {transition-duration: 0.625s;} /* Added for 6.25 */
[data-duration="6.5"] {transition-duration: 0.65s;} /* Added for 6.5 */
[data-duration="6.75"] {transition-duration: 0.675s;} /* Added for 6.75 */
[data-duration="7"] {transition-duration: 0.7s;} /* Added for 7 */
[data-duration="7.25"] {transition-duration: 0.725s;} /* Added for 7.25 */
[data-duration="7.5"] {transition-duration: 0.75s;} /* Added for 7.5 */
[data-duration="7.75"] {transition-duration: 0.775s;} /* Added for 7.75 */
[data-duration="8"] {transition-duration: 0.8s;} /* Added for 8 */

[data-duration="16"] {transition-duration: 1.6s;} /* Added for 8 */




[data-animation-duration="14"] {animation-duration: 1.4s;} /* Added for 7.25 */
[data-animation-duration="28"] {animation-duration: 2.8s;} /* Added for 7.25 */










[data-delay="1"] {transition-delay: 0.1s;}
[data-delay="1.25"] {transition-delay: 0.125s;}
[data-delay="1.5"] {transition-delay: 0.15s;}
[data-delay="1.75"] {transition-delay: 0.175s;}
[data-delay="2"] {transition-delay: 0.2s;}
[data-delay="2.25"] {transition-delay: 0.225s;}
[data-delay="2.5"] {transition-delay: 0.25s;}
[data-delay="2.75"] {transition-delay: 0.275s;}
[data-delay="3"] {transition-delay: 0.3s;} 
[data-delay="3.25"] {transition-delay: 0.325s;} 
[data-delay="3.5"] {transition-delay: 0.35s;} /* Added for 3.5 */
[data-delay="3.75"] {transition-delay: 0.375s;} /* Added for 3.75 */
[data-delay="4"] {transition-delay: 0.4s;} /* Added for 4 */

[data-delay="7.25"] {transition-delay: 0.725s;} /* Added for 4 */



[data-will-change="transform"] {will-change: transform;}
[data-transition-behavior="allow-discrete"]{transition-behavior: allow-discrete;}

[data-animation-interation="infinite"] {animation-iteration-count: infinite;}
[data-animation-direction="alternate"]{animation-direction: alternate;}
[data-animation-direction="alternate-reverse"]{animation-direction: alternate-reverse;}
[data-animation-direction="reverse"]{animation-direction: reverse;}



[data-fill-mode="backwards"]{animation-fill-mode: backwards;}
[data-fill-mode="both"]{animation-fill-mode: both;}
[data-fill-mode="forwards"]{animation-fill-mode:forwards}


[data-animation-play-state="paused"]{animation-play-state: paused;}
[data-animation-play-state="running"]{animation-play-state: running;}
