/* CredBone UI Framefork Component / Layout / Version 2.0.0 */


@import url(base_colors.css);

:root {








  
            --neutral-color-lightest: #F5F5F5;
            --neutral-color-lighter: #EEEEEE;
            --neutral-color-light: #E0E0E0;
            --neutral-color-soft: #BDBDBD;
            --neutral-color: #9E9E9E;
            --neutral-color-deep: #757575;
            --neutral-color-dark: #616161;
            --neutral-color-darker: #424242;
            --neutral-color-darkest: #212121;

            --dark-shade-10:rgba(6,6,6,.1);
            --dark-shade-70:rgba(6,6,6,.7);
            --dark-shade-80:rgba(6,6,6,.8);

            --gray-shade-20: rgba(128, 128, 128, 0.2);

}



[data-background="dark-shade-10"]{background-color: var(--dark-shade-10);}
[data-background="dark-shade-70"]{background-color: var(--dark-shade-70);}

/* Special colors */



[data-background="adaptive-gray"]
{
  background-color:rgba(128,128,128,.08);
}

/* // */



[data-background="main-background"] { background-color: var(--background) }
[data-background="highlight"]{ background-color: var(--highlight) }
[data-background="border-color"]{ background-color: var(--border-color) }
[data-background="context"]{ background-color: var(--context) }




[data-background="main-lightest"] { background-color: var(--main-color-lightest)}
[data-background="main-lighter"] { background-color: var(--main-color-lighter)}
[data-background="main-light"] { background-color: var(--main-color-light)}
[data-background="main-soft"] { background-color: var(--main-color-soft)}
[data-background="main"] { background-color: var(--main-color)}
[data-background="main-deep"] { background-color: var(--main-color-deep)}
[data-background="main-dark"] { background-color: var(--main-color-dark)}
[data-background="main-darker"] { background-color: var(--main-color-darker)}
[data-background="main-darkest"] { background-color: var(--main-color-darkest)}




[data-background="secondary-lightest"] { background-color: var(--secondary-color-lightest)}
[data-background="secondary-lighter"] { background-color: var(--secondary-color-lighter)}
[data-background="secondary-light"] { background-color: var(--secondary-color-light)}
[data-background="secondary-soft"] { background-color: var(--secondary-color-soft)}
[data-background="secondary"] { background-color: var(--secondary-color)}
[data-background="secondary-deep"] { background-color: var(--secondary-color-deep)}
[data-background="secondary-dark"] { background-color: var(--secondary-color-dark)}
[data-background="secondary-darker"] { background-color: var(--secondary-color-darker)}
[data-background="secondary-darkest"] { background-color: var(--secondary-color-darkest)}



[data-background="neutral-lightest"] { background-color: var(--neutral-color-lightest)}
[data-background="neutral-lighter"] { background-color: var(--neutral-color-lighter)}
[data-background="neutral-light"] { background-color: var(--neutral-color-light)}
[data-background="neutral-soft"] { background-color: var(--neutral-color-soft)}
[data-background="neutral"] { background-color: var(--neutral-color)}
[data-background="neutral-deep"] { background-color: var(--neutral-color-deep)}
[data-background="neutral-dark"] { background-color: var(--neutral-color-dark)}
[data-background="neutral-darker"] { background-color: var(--neutral-color-darker)}
[data-background="neutral-darkest"] { background-color: var(--neutral-color-darkest)}

[data-background="neutral-stable"] { background-color: #9E9E9E;}

[data-color="neutral-lightest"] { color: var(--neutral-color-lightest)}
[data-color="neutral-lighter"] { color: var(--neutral-color-lighter)}
[data-color="neutral-light"] { color: var(--neutral-color-light)}
[data-color="neutral-soft"] { color: var(--neutral-color-soft)}
[data-color="neutral"] { color: var(--neutral-color)}
[data-color="neutral-deep"] { color: var(--neutral-color-deep)}
[data-color="neutral-dark"] { color: var(--neutral-color-dark)}
[data-color="neutral-darker"] { color: var(--neutral-color-darker)}
[data-color="neutral-darkest"] { color: var(--neutral-color-darkest)}

[data-color="neutral-text"] { color: var(--neutral-color-lighter)}

[data-background="white"] { background-color: #fff }
[data-background="black"] { background-color: #000 }




/**/

[data-background="error"]{background-color:var(--error-color)}
[data-background="success"]{background-color:var(--success-color)}




[data-color="text"]{color:var(--text-color)}
[data-color="white"] {color: #fff}

[data-color="black"] {color: #000}
[data-color="error"]{color:var(--error-color)}
[data-color="success"]{color:var(--success-color)}


[data-opacity="0"]{opacity:0;}
[data-opacity="5"]{opacity:5%;}
[data-opacity="10"]{opacity:10%;}
[data-opacity="20"]{opacity:20%;}
[data-opacity="30"]{opacity:30%;}
[data-opacity="40"]{opacity:40%;}
[data-opacity="50"]{opacity:50%;}
[data-opacity="60"]{opacity:60%;}
[data-opacity="70"]{opacity:70%;}
[data-opacity="80"]{opacity:80%;}
[data-opacity="90"]{opacity:90%;}
[data-opacity="100"]{opacity:100%;}

[data-opacity="0-hover-30"]{opacity: 0;}
:hover > [data-opacity="0-hover-30"] {opacity: 30%;}



[data-background="text"] { background-color: var(--text-color) }
[data-background="main-text"] { background-color: var(--main-color-text) }
[data-background="secondary-text"] { background-color: var(--secondary-color-text) }
[data-background="main-color-font"] { background-color: var(--main-color-font) }

[data-color="main-background"] { color: var(--background) }
[data-color="highlight"]{ color: var(--highlight) }


[data-color="main-lightest"] { color: var(--main-color-lightest)}
[data-color="main-lighter"] { color: var(--main-color-lighter)}
[data-color="main-light"] { color: var(--main-color-light)}
[data-color="main-soft"] { color: var(--main-color-soft)}
[data-color="main"] { color: var(--main-color-font)}
[data-color="main-deep"] { color: var(--main-color-deep)}
[data-color="main-dark"] { color: var(--main-color-dark)}
[data-color="main-darker"] { color: var(--main-color-darker)}
[data-color="main-darkest"] { color: var(--main-color-darkest)}

[data-color="main-color"] { color: var(--main-color)}





[data-theme="dark"][data-main-color-luminance="dark"]:root{

  --main-color-font: var(--main-color-light);

}


[data-theme="dark"][data-main-color-luminance="light"]:root{

  --main-color-font: var(--main-color);

}


[data-theme="dark"]:root{


  
  
    --neutral-color-lightest: #303030;
    --neutral-color-lighter: #2f2f2f;
    --neutral-color-light: #2c2c2c;
    --neutral-color-soft: #252525;
    --neutral-color: #1f1f1f;
    --neutral-color-deep: #171717;
    --neutral-color-dark: #131313;
    --neutral-color-darker: #0d0d0d;
    --neutral-color-darkest: #060606;


}



@media (prefers-color-scheme: dark) 
  
{



[data-theme="auto"][data-main-color-luminance="dark"]:root{

  --main-color-font: var(--main-color-light);

}


[data-theme="auto"][data-main-color-luminance="light"]:root{

  --main-color-font: var(--main-color);

}



  [data-theme="auto"]:root
  { 

    
    --neutral-color-lightest: #303030;
    --neutral-color-lighter: #2f2f2f;
    --neutral-color-light: #2c2c2c;
    --neutral-color-soft: #252525;
    --neutral-color: #1f1f1f;
    --neutral-color-deep: #171717;
    --neutral-color-dark: #131313;
    --neutral-color-darker: #0d0d0d;
    --neutral-color-darkest: #060606;
  }

}


[data-background="main-alpha-15"] { background-color: var(--main-color-alpha-15)}
[data-background="main-alpha-50"] { background-color: var(--main-color-alpha-50)}






[data-color="main-alpha-15"] { color: var(--main-color-alpha-15)}
[data-color="main-alpha-50"] { color: var(--main-color-alpha-50)}


[data-color="main-text"] { color: var(--main-color-text) }
[data-color="secondary-text"] { color: var(--secondary-color-text) }





[data-color="secondary-lightest"] { color: var(--secondary-color-lightest)}
[data-color="secondary-lighter"] { color: var(--secondary-color-lighter)}
[data-color="secondary-light"] { color: var(--secondary-color-light)}
[data-color="secondary-soft"] { color: var(--secondary-color-soft)}
[data-color="secondary"] { color: var(--secondary-color)}
[data-color="secondary-deep"] { color: var(--secondary-color-deep)}
[data-color="secondary-dark"] { color: var(--secondary-color-dark)}
[data-color="secondary-darker"] { color: var(--secondary-color-darker)}
[data-color="secondary-darkest"] { color: var(--secondary-color-darkest)}





[data-stroke="outline"] { stroke: var(--outline) }

[data-stroke="main-background"] { stroke: var(--background) }
[data-stroke="main"] { stroke: var(--main-color) }
[data-stroke="main-light"] { stroke: var(--main-color-light) }
[data-stroke="main-alpha-50"] { stroke: var(--main-color-alpha-50) }
[data-stroke="secondary"] { stroke: var(--secondary-color) }

[data-stroke="adaptive-gray"]
{
  stroke:rgba(128,128,128,.08);
}


[data-fill="main"] { fill: var(--main-color) }
[data-fill="main-light"] { fill: var(--main-color-light) }
[data-fill="main-lighter"] { fill: var(--main-color-lighter) }
[data-fill="main-dark"] { fill: var(--main-color-dark) }
[data-fill="main-darker"] { fill: var(--main-color-darker) }

[data-fill="main-text"] { fill: var(--main-color-text) }

[data-fill="secondary"] { fill: var(--secondary-color) }
[data-fill="secondary-light"] { fill: var(--secondary-color-light) }
[data-fill="secondary-lighter"] { fill: var(--secondary-color-lighter) }
[data-fill="secondary-dark"] { fill: var(--secondary-color-dark) }
[data-fill="secondary-darker"] { fill: var(--secondary-color-darker) }


[data-fill="main-background"] { fill: var(--background) }
[data-fill="highlight"]{ fill: var(--highlight) }


[data-background="none"]{background-color:none}


/* [data-background="graph"] { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b0b0b0' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
[data-background="dashed"]{ background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%237f7f7f' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); }
[data-background="stripe"]{background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23c8c8c8' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");}
[data-background="checkered"] {background-color: #fff; background-image: linear-gradient(45deg, #e9e9e9 25%, transparent 25%, transparent 75%, #e9e9e9 75%), linear-gradient(45deg, #e9e9e9 25%, transparent 25%, transparent 75%, #e9e9e9 75%); background-size: 20px 20px; background-position: 0 0, 10px 10px;} */

[data-background="dim"] {background-color: var(--dim);}

/* [data-background="dotted"]{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg %3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 23H23V24H24V23ZM24 47H23V48H24V47ZM47 23H48V24H47V23ZM48 47H47V48H48V47Z' fill='%237f7f7f'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");} */

[data-background="main-background-top"] {background-image: linear-gradient(var(--background) 0%, transparent);}
[data-background="main-background-bottom"] {background-image: linear-gradient(transparent 0%, var(--background));}

[data-background="context-right"] {background-image: linear-gradient(90deg, var(--context) 0%, transparent);}
[data-background="context-left"] {background-image: linear-gradient(-90deg, var(--context) 0%, transparent);}

[data-color="transparent"]{color:transparent}
[data-background-clip="text"]{background-clip: text;}


/* gradiends */

[data-background="main-secondary"]{background-image: linear-gradient(90deg, var(--main-color), var(--secondary-color));}
[data-background="main-secondary-45"]{background-image: linear-gradient(45deg, var(--main-color), var(--secondary-color));}

[data-gradient="main-light"]{background-image: linear-gradient(var(--main-color-light), var(--main-color-light));}
[data-gradient="main-lighter"]{background-image: linear-gradient(var(--main-color-lighter), var(--main-color-lighter));}

[data-gradient="secondary-light"]{background-image: linear-gradient(var(--secondary-color-light), var(--secondary-color-light));}
[data-gradient="secondary-lighter"]{background-image: linear-gradient(var(--secondary-color-lighter), var(--secondary-color-lighter));}




