/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */












/**/

[data-name="option-group"]{ --radius:5px; flex-wrap: nowrap;overflow: hidden;}
[data-name="option-group"] label {display: flex; cursor: pointer; align-items: center;position: relative;}
[data-name="option-group"] label wrap {display: flex; border-radius: var(--radius); align-items: center;padding: 5px 10px;min-height: 100%; overflow: hidden;}
[data-name="option-group"] label wrap:hover { background-image: var(--over-color); }
[data-name="option-group"] label wrap text{padding: 0 5px; font-weight: 600;overflow: hidden; text-overflow: ellipsis; transition-property: max-width, opacity;opacity: 1;transition-duration: .225s;}
[data-name="option-group"] label input { display: none } 
[data-name="option-group"] label input:checked ~ wrap{ background-color: var(--main-color); color:var(--main-color-text);z-index: 3; }



[data-name="option-group"] [data-name="option-decor"]{box-shadow: inset 0 0 0 1px; flex-shrink: 0; opacity: 0.1; min-width: 1px; width: 1px;  position: relative; z-index: 2; display: flex; height: 20px; position: absolute; left:-1px}

[data-name="option-group"] label:first-of-type [data-name="option-decor"],
[data-name="option-group"] label:hover [data-name="option-decor"],
[data-name="option-group"] label:hover + label [data-name="option-decor"],
[data-name="option-group"] label input:checked ~ [data-name="option-decor"]

{display: none;}




[data-name="option-group"] wrap:active text,
[data-name="option-group"] wrap:active icon

{ transform: translateY(1px) }



[data-name="option-group"] label text:not(:only-child)
{max-width: 100px;}

[data-name="option-group"] label input:not(:checked) ~ wrap text:not(:only-child) {

    
    opacity: 0;
    padding: 0;
    max-width: 0px;
}


/**/

.option_bar { display: flex; height: 30px; position: relative; overflow: hidden;  --radius:5px }





 





.option_bar label { display: flex; flex: 1; position: relative; overflow: hidden; margin-right:-1px;     min-height: 30px; }
[dir="rtl"] .option_bar label {margin-left: -1px; margin-right: initial;}

.option_bar label:last-of-type,
.option_bar label:only-of-type
 
 
 {margin:0}

.option_bar label:hover{z-index:1}



.option_bar label:has(input:checked){z-index:2}
.option_bar label:has(input:checked):hover{z-index:3}

.option_bar label [data-name="option-decor"]{position:absolute;pointer-events:none; top:0; left:0; height:100%; width:100%;box-shadow: inset 0 0 0 1px; opacity: .1;}

.option_bar.compact {min-width:unset}
.option_bar.compact label{ flex:initial}

.option_bar label wrap { display: flex; flex: 1;  position: relative; overflow: hidden; cursor: pointer; justify-content: center; align-items: center; padding: 0 5px; }








.option_bar label:first-of-type,
.option_bar label:first-of-type wrap,
.option_bar label:first-of-type [data-name="option-decor"],

[dir="rtl"] .option_bar label:last-of-type,
[dir="rtl"] .option_bar label:last-of-type wrap,
[dir="rtl"] .option_bar label:last-of-type [data-name="option-decor"]

{ border-radius: var(--radius) 0 0 var(--radius) }


.option_bar label:last-of-type,
.option_bar label:last-of-type wrap,
.option_bar label:last-of-type [data-name="option-decor"],
[dir="rtl"] .option_bar label:first-of-type,
[dir="rtl"] .option_bar label:first-of-type wrap,
[dir="rtl"] .option_bar label:first-of-type [data-name="option-decor"]


{ border-radius:0 var(--radius) var(--radius) 0 }


.option_bar label:only-of-type,
.option_bar label:only-of-type wrap,
.option_bar label:only-of-type [data-name="option-decor"]


{border-radius:var(--radius);}





.option_bar.autosize{min-width:initial}
.option_bar.autosize label { flex:auto;}




.option_bar wrap:hover { background-image: var(--over-color); }

.option_bar wrap:active text,
.option_bar wrap:active icon

{ transform: translateY(1px) }


.option_bar label text { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position:relative;padding:0 5px; 

    transition-property: max-width, opacity;
    opacity: 1;
    transition-duration: .225s;

}






.option_bar label input { display: none } 


.option_bar[data-palette="lighter"] label input:checked ~ wrap{ background-color: var(--main-color-alpha-15); color:var(--text-color) }
.option_bar[data-palette="lighter"] label input:checked ~  [data-name="option-decor"]{ color:var(--text-color)}

[data-switch-color="invert"] label [data-name="option-decor"] {opacity: .4;}
[data-switch-color="invert"] label input:checked ~  [data-name="option-decor"]{ opacity: .1;}

.option_bar label input:checked ~ wrap{ background-color: var(--checked-color); color:var(--checked-text-color);}
.option_bar label input:checked ~ [data-name="option-decor"]{  color:var(--checked-text-color);}



.option_bar[data-palette="secondary"]{--over-color: linear-gradient(to top, var(--secondary-color-alpha-15) 0%, var(--secondary-color-alpha-15) 100%);}
.option_bar[data-palette="secondary"] label input:checked ~ wrap{ background-color: var(--secondary-color); color:var(--secondary-color-text);  }
.option_bar[data-palette="secondary"] label input:checked ~ [data-name="option-decor"]{  color:var(--secondary-color-text);}


[data-switch-color="invert"]

{

    --checked-color:var(--main-color-text);
    --checked-text-color:var(--main-color)
}

.option_bar.dynamic label text:not(:only-child)
{max-width: 100px;}

.option_bar.dynamic label input:not(:checked) ~ wrap text:not(:only-child) {

    
    opacity: 0;
    padding: 0;
    max-width: 0px;
}

.option_bar label input:checked:disabled ~ wrap,
.options label input:disabled ~ wrap { background-color: var(--input-color); color: inherit; }




.option_bar label input:disabled ~ wrap icon,
.option_bar label input:disabled ~ wrap text
 { opacity: .3 }

.option_bar label input:disabled ~ wrap
 { cursor: default; pointer-events: none }






.option_bar.animate label wrap:before {
    position: absolute;
     background: var(--main-color);
    height: 100%;
    content: "";
    width: 100%;
    transform: translateX(-100%);
    transition: transform .125s;
    pointer-events: none;
}



.option_bar.animate label wrap,
.option_bar.animate label input:checked ~ wrap

{background-color:initial}

.option_bar.animate label:first-of-type wrap:before,
[dir="rtl"] .option_bar.animate label wrap:before

{ transform: translateX(100%)}
[dir="rtl"] .option_bar.animate label:first-of-type wrap:before{ transform: translateX(-100%)}


.option_bar.animate label input:checked ~ wrap:before,
[dir="rtl"] .option_bar.animate label input:checked~wrap:before

{transform: none;   }


.option_bar.animate label input:disabled ~ wrap:before {    background-color: var(--input-color);}

.option_bar.fixed.animate
{min-width:111px;width: 111px;}

.option_bar label[data-fit] {flex:1 ;}




/* ----- */


