/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */

:root {

    --background: #fbfbfb;
    --border-color: #e4e4e4;
    --highlight: #f5f5f5;

        

        --over-color: linear-gradient(to top, var(--main-color-lighter) 0%, var(--main-color-lighter) 100%);
        --press-color: linear-gradient(to top, var(--main-color-light) 0%, var(--main-color-light) 100%);

    
        
    }
    
  
  



[data-dark],
[data-theme="dark"]

{
    color: #fbfbfb;
    fill:#fbfbfb;
    --text-color: #fbfbfb;
    --outline: rgba(255, 255, 255, .08);
    --background: #191919;
    --context: #232323;
    --border-color: #2b2b2b;
    /* --over-color: linear-gradient(to top, rgba(255, 255, 255, .04) 0%, rgba(255, 255, 255, .04) 100%);
    --press-color: linear-gradient(to top, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .1) 100%); */
    --overlay: rgba(6, 6, 6, 0.9);
    --highlight: #212121;

    --dim: rgba(6, 6, 6, 0.9);
    --backdrop:rgba(25, 25, 25, 0.8);

    --elevation: 0 0 50px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
    --elevation_5: 0 0 15px 2px rgb(0 0 0 / 30%), 0 0 0 1px rgb(255 255 255 / 10%);
    --elevation_6: 0 10px 6px -4px rgb(0 0 0 / 30%), 0 0 0 1px rgb(255 255 255 / 10%);

}



  @media (prefers-color-scheme: dark) 
  
  {
    [data-theme="auto"]

{
    color: #fbfbfb;
    fill:#fbfbfb;
    --text-color: #fbfbfb;
    --outline: rgba(255, 255, 255, .08);
    --background: #191919;
    --context: #232323;
    --border-color: #2b2b2b;
    /* --over-color: linear-gradient(to top, rgba(255, 255, 255, .04) 0%, rgba(255, 255, 255, .04) 100%);
    --press-color: linear-gradient(to top, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .1) 100%); */
    --overlay: rgba(6, 6, 6, 0.9);
    --highlight: #212121;

    --dim: rgba(6, 6, 6, 0.9);
    --backdrop:rgba(25, 25, 25, 0.8);

    --elevation: 0 0 50px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
    --elevation_5: 0 0 15px 2px rgb(0 0 0 / 30%), 0 0 0 1px rgb(255 255 255 / 10%);
    --elevation_6: 0 10px 6px -4px rgb(0 0 0 / 30%), 0 0 0 1px rgb(255 255 255 / 10%);

}
    
  }




.sticky{top: -1px;border-top: 1px solid transparent; transition: .125s; flex-shrink: 0; margin-top: -1px;}
.sticky.stuck{box-shadow: var(--elevation_5);/* overflow: hidden;*/}





input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-internal-autofill-selected
 {
  
transition: background-color 5000s 0s, color 5000s 0s;
  }


  .dark-mode 

  .dark-mode  input:-webkit-autofill,
  .dark-mode input:-webkit-autofill:focus,
  .dark-mode  input:-internal-autofill-selected
 {

   color-scheme: dark;
  }





[data-name="marquee_cont"] [data-marquee]{  animation-fill-mode: both;animation-name: marquee_back;
    animation-duration: .325s;animation-timing-function: cubic-bezier(.6, .35, 0, 1.21); }
[data-name="marquee_cont"].start [data-marquee]{animation-name:marquee; padding-right:20px; animation-duration: var(--duration-value);animation-timing-function: linear;
    animation-iteration-count: infinite; }


    [dir="rtl"] [data-name="marquee_cont"].start [data-marquee]{animation-name:marquee_left;padding-left:20px; padding-right:initial;}

[data-name="marquee_cont"]{
    
    -webkit-mask-image:linear-gradient(to right, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px)); 
    mask-image: linear-gradient(to right, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px));
    
 }

 [dir="rtl"] [data-name="marquee_cont"]{
    
    -webkit-mask-image:linear-gradient(to left, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px)); 
    mask-image: linear-gradient(to left, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px));
    
 }



[data-name="marquee_cont"].start{ -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000 20px, #000 calc(100% - 20px), rgba(0, 0, 0, 0) 100%); mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000 20px, #000 calc(100% - 20px), rgba(0, 0, 0, 0) 100%); }

@keyframes marquee{to{transform:translateX(-100%)}}
@keyframes marquee_left{to{transform:translateX(100%)}}

@keyframes marquee_back{from{transform:var(--transform-value)}to{}}


/* stylelint-enable */






.mobile [data-adaptive-order="2"]{order:2}


[data-name="theme-item"]:not(.selected) > group{font-size: 0px;}

[data-name="theme-item"]{transition: .225s .125s; transition-property: margin,  border-radius}



[data-name="theme-item"]:has( + .selected){ border-radius: 0 5px 5px 0}
[data-name="theme-item"].selected + [data-name="theme-item"]{border-radius: 5px 0 0 5px;}
[data-name="theme-item"].selected {margin:0 5px; border-radius: 5px;}
[data-name="theme-item"].selected:first-child{margin-left:0px ;}
[data-name="theme-item"].selected:last-child{margin-right:0px ;}


