/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */

:root {

    --background: #fbfbfb;
    --border-color: #e4e4e4;
    --highlight: #ededed;

        

        --over-color: linear-gradient(to top, var(--main-color-alpha-15) 0%, var(--main-color-alpha-15) 100%);
        --press-color: linear-gradient(to top, var(--main-color-alpha-50) 0%, var(--main-color-alpha-50) 100%);

       
        
        
    }
    

    [data-over-color="secondary"] 
    {
      --over-color: linear-gradient(to top, var(--secondary-color-alpha-15) 0%, var(--secondary-color-alpha-15) 100%);
      --press-color: linear-gradient(to top, var(--secondary-color-alpha-50) 0%, var(--secondary-color-alpha-50) 100%);
    }

    [data-over-color="neutral"]
    {

      --over-color: linear-gradient(to top, rgb(125 125 125 / 5%) 0%, rgb(125 125 125 / 5%) 100%);
      --press-color: linear-gradient(to top, rgb(125 125 125 / 10%) 0%, rgb(125 125 125 / 10%) 100%);
    }

    [data-over-color="neutral-10"]
    {

      --over-color: linear-gradient(to top, rgb(125 125 125 / 10%) 0%, rgb(125 125 125 / 10%) 100%);
      --press-color: linear-gradient(to top, rgb(125 125 125 / 10%) 0%, rgb(125 125 125 / 10%) 100%);
    }


  
 







    [data-theme="dark"] [data-brightness="adaptive"] {filter: brightness(.5);}

    [data-theme="dark"] [data-color="reset"]{color:var(--text-color)}


[data-theme="dark"]

{
    color: #fbfbfb;
    fill:#fbfbfb;
    --text-color: #fbfbfb;
    --outline: rgba(255, 255, 255, .08);
    --background: #191919;
    --context: #1e1e1e;
    --border-color: #2b2b2b;
    --overlay: rgba(6, 6, 6, 0.9);
    --highlight: #212121;

    --dim: rgba(16, 16, 16, 0.9);
    --backdrop:rgba(34, 34, 34, 0.8);
    --adaptive-backdrop:rgba(0,0,0,.5);

    --elevation_1: 0 0 50px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
    --elevation_2: 0 50px 70px -20px rgba(0, 0, 0, 0.3), 0 0 0 1px rgb(255 255 255 / 5%);

  

}



  @media (prefers-color-scheme: dark) 
  
  {

    [data-theme="auto"] [data-brightness="adaptive"]{filter: brightness(.5);}
    [data-theme="auto"] [data-color="reset"]{color:var(--text-color)}
    [data-theme="auto"]

{
    color: #fbfbfb;
    fill:#fbfbfb;
    --text-color: #fbfbfb;
    --outline: rgba(255, 255, 255, .08);
    --background: #191919;
    --context: #1e1e1e;
    --border-color: #2b2b2b;
    --overlay: rgba(6, 6, 6, 0.9);
    --highlight: #212121;

    --dim: rgba(16, 16, 16, 0.9);
    --backdrop:rgba(34, 34, 34, 0.8);
    --adaptive-backdrop:rgba(0,0,0,.5);

    --elevation_1: 0 0 50px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
    --elevation_2: 0 50px 70px -20px rgba(0, 0, 0, 0.3), 0 0 0 1px rgb(255 255 255 / 5%);

}
    
  }


  .selected [data-brightness="adaptive"]{filter: brightness(1);}


[data-sticky="top"].sticky{top: -1px;border-top: 1px solid transparent; flex-shrink: 0; margin-top: -1px;}
[data-sticky="bottom"]{bottom: -1px;border-bottom: 1px solid transparent; flex-shrink: 0; margin-bottom: -1px;}


/* .sticky.stuck {padding: 1var(--base-size);}
.sticky.stuck > group{box-shadow: var(--elevation_2); background: var(--context); border-radius: 10px;} */





input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-internal-autofill-selected

{
transition: background-color 5000s 0s, color 5000s 0s;
}


  [data-theme="dark"],
  [data-theme="dark"] input:-webkit-autofill,
  [data-theme="dark"] input:-webkit-autofill:focus,
  [data-theme="dark"] input:-internal-autofill-selected
 {
   color-scheme: dark;
}





[data-name="marquee_cont"] [data-marquee]{ animation-fill-mode: both;animation-name: marquee_back;animation-duration: .325s;animation-timing-function: cubic-bezier(.6, .35, 0, 1.21); }
[data-name="marquee_cont"].start [data-marquee]{animation-name:marquee; padding-right:20px; animation-duration: var(--duration-value);animation-timing-function: linear; animation-iteration-count: infinite; }
[dir="rtl"] [data-name="marquee_cont"].start [data-marquee]{animation-name:marquee_left;padding-left:20px; padding-right:initial;}
[data-name="marquee_cont"]{ -webkit-mask-image:linear-gradient(to right, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px)); mask-image: linear-gradient(to right, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px)); }
[dir="rtl"] [data-name="marquee_cont"]{ -webkit-mask-image:linear-gradient(to left, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px)); mask-image: linear-gradient(to left, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px)); }



[data-name="marquee_cont"].start{ -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000 20px, #000 calc(100% - 20px), rgba(0, 0, 0, 0) 100%); mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000 20px, #000 calc(100% - 20px), rgba(0, 0, 0, 0) 100%); }

@keyframes marquee{to{transform:translateX(-100%)}}
@keyframes marquee_left{to{transform:translateX(100%)}}
@keyframes marquee_back{from{transform:var(--transform-value)}to{}}


/* stylelint-enable */



[data-sticky="adaptive-top-bottom"] {position:sticky;top: 0;}
[data-bottom="30/90"] {bottom: 30px;}

@media (max-width: 800px) 
{

  .mobile [data-bottom="30/90"] {bottom: 90px;}
  .mobile [data-adaptive-order="2"]{order:2}
  .mobile [data-sticky="adaptive-top-bottom"] {position:sticky;bottom: 0;}

}






/* [data-name="theme-item"]:not(.selected) > group{font-size: 0px;} */


[data-name="theme-item"]{--base-size:10px}


[data-name="theme-item"]{transition: margin 0.125s ease,
  border-radius 0.425s 0s ease;}
[data-name="theme-item"]:has( + .selected){ border-bottom-right-radius: var(--base-size);border-top-right-radius: var(--base-size);}
[data-name="theme-item"].selected + [data-name="theme-item"],
[data-name="theme-item"][data-group-end="true"] + [data-name="theme-item"]

{border-top-left-radius: var(--base-size);border-bottom-left-radius: var(--base-size);}


[data-name="theme-item"][data-group-end="true"]{margin-right: var(--base-size);border-bottom-right-radius: var(--base-size);border-top-right-radius: var(--base-size);}

[data-name="theme-item"].selected {margin-left:var(--base-size); margin-right: var(--base-size); border-radius: var(--base-size);  transition: margin 0.425s 0.125s ease, border-radius 0.425s 0s ease;}
[data-name="theme-item"].selected:first-child,

[data-name="theme-item"][data-group-end="true"] + [data-name="theme-item"].selected

{margin-left:0px;}

[data-name="theme-item"].selected:last-child{margin-right:0px;}
[data-name="theme-item"]:first-child{border-top-left-radius: var(--base-size);border-bottom-left-radius: var(--base-size);}
[data-name="theme-item"]:last-child{border-bottom-right-radius: var(--base-size);border-top-right-radius: var(--base-size);}


/* [data-name="theme-item"]:active > group {padding-left:20px} */


@keyframes snackbar-appear {from{ opacity: 0;margin-bottom: -30px; transform: translateY(10px);  }to{ }}
.snackbar-container {position: relative;width: 100%;pointer-events: none;}
.snackbar-container > group {bottom: 0;z-index: 9999;  }
.snackbar {animation: snackbar-appear backwards .325s;transition:  125ms; clip-path: inset(0 0 0 0 round 10px) }
.snackbar-exit { opacity: 0; transform: translateY(-20px); }
[data-background="snackbar"] { background-color: #2d2d2d; }



input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}



@media print {
  [data-print="hide"],
  [data-print="hide"][data-adaptive="mobile"]{display: none;}
  
html{zoom: .85;}
  
  
  :root
  
  {
    --background: #fbfbfb;
    --border-color: #e4e4e4; 
    --text-color: #191919;
  }
  
  
  }
  
  @media screen {
    [data-print="show"]{display: none;}
    }
  


    @page {
      size: A4; 

    

      margin-top: 0;
      margin-bottom: 0;
    
      @top-left {
        content: none;
      }
      @top-center {
        content: none;
      }
      @top-right {
        content: none;
      }
      @bottom-left {
        content: none;
      }
      @bottom-center {
        content: none;
      }
      @bottom-right {
        content: none;
      }
    }




    [data-name="color-indicator"] { transform: translateX(-50%) translateY(-50%);}
    [data-name="color-source"]:active {cursor: none;}

    [data-cast-shadow="1"]{filter: drop-shadow(0px 20px var(--base-size) rgba(0, 0, 0, .5));}



[data-user-select="text"] {user-select: text;
  -webkit-user-select: text;
  cursor: text;}




[data-name="cred-react-colorful"] .react-colorful  {height: 320px;width: 160px; gap:var(--base-size)}
[data-name="cred-react-colorful"] .react-colorful__saturation{border-radius:10px;  border:none}
[data-name="cred-react-colorful"] .react-colorful__last-control{border-radius: 10px;}


[data-name="cred-react-colorful"] .react-colorful__hue {  height: 50px; background: none; display: flex; margin: 0 1var(--base-size); }
[data-name="cred-react-colorful"] .react-colorful__hue::before { content: "";  height: 2px; background: linear-gradient(90deg, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red); width: 100%;margin: auto; }
[data-name="cred-react-colorful"] .react-colorful__interactive:focus .react-colorful__pointer {transform: translate(-50%, -50%);}
[data-name="cred-react-colorful"] .react-colorful__pointer { box-shadow: 0 0 0px 4px white, 0 0 0 var(--base-size) rgba(0,0,0,.1) ; border: none;  }
[data-name="cred-react-colorful"] .react-colorful__pointer.react-colorful__hue-pointer { height: 16px; width:16px; background: white; box-shadow: 0 0 0 1px rgba(0,0,0,.1); border-radius: 10px;}
[data-name="cred-react-colorful"] .react-colorful__pointer.react-colorful__hue-pointer .react-colorful__pointer-fill {opacity: 0;}

[data-name="cred-react-colorful"] .react-colorful__pointer.react-colorful__saturation-pointer { height: 20px; width: 20px; border-radius: 20px;}
[data-name="cred-react-colorful"] .react-colorful__pointer-fill {box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);}



[data-name="dot-display"] circle {transition-property: r, transform;}