/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */

@keyframes loader {
    from { transform: translateX(-100%) }
    50% { transform: translateX(100%) }
    to { transform: translateX(-100%) }
}


.preloader { height: 100%; width: 100%; z-index: 99999; position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center; }
.preloader .loader { background: var(--outline); width: 150px; height: 2px; position: relative; overflow: hidden; }
.preloader .loader div { position: absolute; background: var(--main-color); height: 100%; width: 100%; animation: loader 1.5s ease infinite; }

.preloader .background {position:absolute; height: calc(100% + 20px); width: calc(100% + 20px);top: -10px; left: -10px; opacity: .8; }

/* stylelint-enable */