/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */


/* separator */

:root{
    --interval:0px
}

separator { box-shadow: inset 0 0 0 1px; flex-shrink: 0; opacity: 0.1; position: relative; }


separator[data-vertical] {  min-width: 1px; width: 1px;   z-index: 2; display: flex; }
separator[data-vertical]:not([data-height]){height:30px}

separator[data-vertical="fit"]{height: 100%;}
separator[data-vertical="dotted"]{box-shadow: none; opacity: 0.2; background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjIiIHZpZXdCb3g9IjAgMCAxIDIiPgogIDxyZWN0IGZpbGw9IiNmZmYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz4KICA8cmVjdCAgZmlsbD0iIzAwMCIgIHk9IjEiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz4KPC9zdmc+Cg==")}


separator[data-horizontal] { min-height: 1px; height: 1px; margin-top: var(--interval); margin-bottom:var(--interval);  position: relative; z-index: 2; display: flex; flex: 1 1 100%; max-height: 1px; width: 100%; }



separator[data-interval='5']  { --interval:5px }
separator[data-interval='10'] { --interval:10px }
separator[data-interval='15'] { --interval:15px }
separator[data-interval='20'] { --interval:20px }
separator[data-interval='30'] { --interval:30px }
separator[data-interval='40'] { --interval:40px }

separator[data-horizontal="dotted"] { box-shadow: none; opacity: 0.5; background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjEiIHZpZXdCb3g9IjAgMCA0IDEiPjxyZWN0IHg9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCBmaWxsPSIjZmZmIiB4PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PC9zdmc+'); }





/*space*/

space { display: flex; height: 30px; width: 100%; flex-shrink: 0; }

space[top] { margin-top: auto; }
space[tiny] { height: 5px; }
space[small] { height: 10px; }
space[mini] { height: 20px; }
space[medium] { height: var(--area); }
space[large] { height: 170px; }
space[x-large] { height: 40px }

space[horizontal] { flex-shrink: initial; height: initial; }
space[horizontal="medium"]

dot { padding: 0 10px; font-weight: 700; position: relative; }
dot::after { content: '\00b7'; }
[space='no'] { padding: 0; }



separator[data-adaptive="mobile"] {display: none;}

@media (max-width: 800px)

{
    separator[data-adaptive="mobile"] {display: flex;}
    separator[data-adaptive="desktop"] {display: none;}
}

/* stylelint-enable */