@keyframes tooltip {
  from {
    opacity: 0;
    
  }
}

.tooltip {
  animation: tooltip 0.225s .225s  backwards;
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  max-width: calc(100% - 20px);
}

[data-length].tooltip{max-width: calc(100% - 20px);;}

[data-background="tooltip"]
{
  background-color: #2d2d2d;
}

group.popover {
  animation: tooltip 0.225s  backwards;
  position: absolute;
  z-index: 9999;
  max-width: calc(100% - 20px);
}
