/* Ogma UI Framefork Component / Layout / Version 2.0.0 */
/* Copyright 1998 - 2023 Ogma Inc. Design Department. All rights reserved */
/* stylelint-disable */


/* separator */

separator { box-shadow: inset 0 0 0 1px; flex-shrink: 0; opacity: 0.1; }


separator[data-vertical] {  min-width: 1px; width: 1px;  position: relative; z-index: 2; display: flex; }
separator[data-vertical]:not([data-height]){height:30px}

separator[data-vertical="fit"]{height: 100%;}
separator[data-vertical="dotted"]{box-shadow: none; opacity: 0.2; background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjIiIHZpZXdCb3g9IjAgMCAxIDIiPgogIDxyZWN0IGZpbGw9IiNmZmYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz4KICA8cmVjdCAgZmlsbD0iIzAwMCIgIHk9IjEiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz4KPC9zdmc+Cg==")}


separator[data-horizontal] { min-height: 1px; height: 1px; margin: var(--gap) 0; position: relative; z-index: 2; display: flex; flex: 1 1 100%; max-height: 1px; width: 100%; }
/* separator[horizontal][space='bottom'] { margin: 0 0 30px 0; }
separator[horizontal][space='side'] { margin: 10px 15px; } */

separator[data-margin='none'] { --gap:0 }
separator[data-margin='5'] { --gap:5px }
separator[data-margin='10'] { --gap:10px }
separator[data-margin='20'] { --gap:20px }
separator[data-margin='30'] { --gap:30px }
separator[data-margin='40'] { --gap:40px }

separator[data-horizontal="dotted"] { box-shadow: none; opacity: 0.5; background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjEiIHZpZXdCb3g9IjAgMCA0IDEiPjxyZWN0IHg9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCBmaWxsPSIjZmZmIiB4PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PC9zdmc+'); }





/*space*/

space { display: flex; height: 30px; width: 100%; flex-shrink: 0; }

space[top] { margin-top: auto; }
space[tiny] { height: 5px; }
space[small] { height: 10px; }
space[mini] { height: 20px; }
space[medium] { height: var(--area); }
space[large] { height: 170px; }
space[x-large] { height: 40px }

space[horizontal] { flex-shrink: initial; height: initial; }
space[horizontal="medium"]

dot { padding: 0 10px; font-weight: 700; }
dot::after { content: '\00b7'; }
[space='no'] { padding: 0; }



separator[data-adaptive="mobile"] {display: none;}

@media (max-width: 600px)

{
    separator[data-adaptive="mobile"] {display: flex;}
    separator[data-adaptive="desktop"] {display: none;}
}

/* stylelint-enable */