

@import url(control.css);
@import url(project.css);
@import url(font.css);



:root {
    --main-font: 'gilroy', sans-serif;
    --hero-font:'calsans', sans-serif;
    --text:13px;
}




:root {
    /* --main-color-alpha-15: #0066ff26;
    --main-color-alpha-50: #0066ff80;
    --main-color-ultra-light: #E6F0FF;
    --main-color-lightest: #CCE0FF;
    --main-color-lighter: #99C2FF;
    --main-color-light: #66A3FF;
    --main-color-soft: #3385FF;
    --main-color: #0066ff;
    --main-color-deep: #0052CC;
    --main-color-dark: #003D99;
    --main-color-darker: #002966;
    --main-color-darkest: #001433;
    --secondary-color-alpha-15: #49c5b626;
    --secondary-color-alpha-50: #49c5b680;
    --secondary-color-ultra-light: #E6F0FF;
    --secondary-color-lightest: #DBF3F0;
    --secondary-color-lighter: #B6E8E2;
    --secondary-color-light: #92DCD3;
    --secondary-color-soft: #6DD1C5;
    --secondary-color: #49c5b6;
    --secondary-color-deep: #3A9E92;
    --secondary-color-dark: #2C766D;
    --secondary-color-darker: #1D4F49;
    --secondary-color-darkest: #0F2724;
    --main-color-text: var(--main-color-ultra-light);
    --main-color-font: var(--main-color);
    --secondary-color-text: var(--secondary-color-darkest); */
}




/* user agent reset */

* { padding: 0;
     margin: 0;
     box-sizing: border-box; 
     outline: none; 
     border: none; 
     -webkit-touch-callout: none;

     -webkit-text-size-adjust: none; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
           }

li { list-style: none; }
a { color: inherit; text-decoration: none }


::-moz-selection {
    /* Code for Firefox */
    color: var(--main-color-text);
    background: var(--main-color);
}

::selection {
    color:var(--main-color-text);
    background: var(--main-color);
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: default;
    background: var(--background);
    overflow: hidden;
    color: var(--text-color);

}

body {
    -webkit-user-select: none;
    user-select: none;
    display: flex;

}



html,
body,
input,
button,
textarea,
li {
    font-family: var(--main-font);
    font-size: var(--text);
    /* text-rendering: optimizeLegibility; */
}


/* stylelint-enable */