/* stylelint-disable */

@import url(controls/view.css);

@import url(controls/icon.css);
@import url(controls/button.css);
@import url(controls/tab_strip.css);
@import url(controls/scrollbar.css);
@import url(controls/material.css);
@import url(controls/separator.css);


@import url(controls/group.css);
@import url(controls/navigation.css);
@import url(controls/badge.css);
@import url(controls/checkbox.css);
@import url(controls/option_bar.css);
@import url(controls/list.css);


@import url(controls/inputs.css);
@import url(controls/popup.css);
@import url(controls/loader.css);

@import url(controls/color.css);
@import url(controls/animation.css);
@import url(controls/tooltip.css);


:root {

  --elevation_0: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --elevation_1: 0 0 50px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
  --elevation_2: 0 50px 70px -20px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0,0,0,.05);


  --elevation_3: 0 50px 110px -20px rgba(0, 0, 0, 0.3), 0 -50px 110px -20px rgba(0, 0, 0, 0.3), 0 0 0 1px var(--border-color);
  --elevation_4: 0 50px 110px -20px rgba(0, 0, 0, 0.3), 0 0 0 1px var(--outline);
  --elevation_5: 0 0 15px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
  --elevation_6: 0 10px 6px -4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);

  --outline: rgba(0, 0, 0, 0.1);
  --outline-dark: rgba(0, 0, 0, 0.1);

  --fab: 50px;
  --hover: rgba(136, 136, 136, 0.1);

  --context: #fff;
  --overlay: rgba(234, 234, 234, 0.65);
  --area: 50px;

  --text-color: #191919;
  /* --scroll_width: 17px; */
  /* --gap:10px; */
  --backdrop:rgba(255,255,255,.5);

  --error-color: tomato;
  --success-color: #4caf50;

}


[data-color="default"]{color:var(--text-color)}



[data-sticky]{position: sticky;z-index: 101; left:0}
[data-sticky="top"]{top:0}
[data-sticky="bottom"]{bottom:0}
[data-sticky-level="2"]{top:60px;}


[data-sticky-level="10"]{top:10px;}
[data-sticky-level="40"]{top:40px;}
[data-sticky-level="50"]{top:50px;}
[data-sticky-level="60"]{top:60px;}
[data-sticky-level="80"]{top:80px;}
[data-sticky-level="90"]{top:90px;}
[data-sticky-level="100"]{top:100px;z-index: 101;}




[data-sticky="150"]{top:150px} /* temporary*/


[data-backdrop="10"]{-webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);background:var(--backdrop) }
[data-backdrop="20-light"]{-webkit-backdrop-filter: blur(20px);backdrop-filter: blur(20px);background:rgba(255, 255, 255, 0.1) }
[data-backdrop="20"]{-webkit-backdrop-filter: blur(20px);backdrop-filter: blur(20px);background:rgba(136, 136, 136, 0.1) }
[data-backdrop="20-dark"]{-webkit-backdrop-filter: blur(20px);backdrop-filter: blur(20px);background:rgba(20,20,20,.5) }
[data-backdrop="3"]{-webkit-backdrop-filter: blur(3px);backdrop-filter: blur(3px); }
[data-backdrop="gradient-top"]{-webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);background-color:var(--backdrop); background-image: linear-gradient(var(--background), transparent); }


text{position: relative;}

text{white-space: nowrap; /*color:var(--main-text)*/}

text[data-wrap="wrap"]{white-space: normal;  }
text[data-wrap="balance"]{white-space:normal;text-wrap: balance;}
text[data-wrap="nowrap"]{white-space: nowrap;}
text[data-wrap="preline"] { white-space: pre-line;  }

text[data-ellipsis] {text-overflow: ellipsis; max-width: 100%; overflow: hidden;}

text[contenteditable='true'] { cursor: text; }
text[nowrap] { white-space: nowrap; }


text[light], text[data-light=""] { opacity: .5 }


text[data-accent], [data-accent] { color: var(--main-color) }
text[data-secondary] { color: var(--secondary-color) }
text[data-clamp] {display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;white-space: normal}
text[data-clamp="2"] { -webkit-line-clamp: 2; }
text[data-clamp="3"] { -webkit-line-clamp: 3; }
text[data-clamp="1"] { -webkit-line-clamp: 1; }

text[data-line=".9"] {line-height:.9}
text[data-line="1"] {line-height:1}
text[data-line="1.3"] {line-height:1.3}
text[data-line="1.5"] {line-height:1.5}
text[data-line="20"] {line-height:20px}
text[data-line="30"] {line-height:30px}
text[data-line="40"] {line-height:40px}
text[data-line="50"] {line-height:50px}
text[data-width="auto"]{width: initial;}

[disabled], [data-disabled=""] {pointer-events:none;}
[data-digit] { letter-spacing: 6px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }



[data-text-align="center"] {text-align: center;}
[data-text-align="right"] {text-align: right;}
[data-text-align="left"] {text-align: left;}


[data-align="center"] { align-items: center; }
[data-align="end"] { align-items: flex-end; }
[data-align="start"] { align-items: flex-start; }
[data-align="baseline"] { align-items: baseline; }
[data-align="stretch"] { align-items: stretch; }

[data-justify="center"] { justify-content: center; }
[data-justify="end"] { justify-content: flex-end; }
[data-justify="start"] { justify-content: flex-start; }
[data-justify="space-around"] { justify-content: space-around; }
[data-justify="space-between"] { justify-content: space-between; }
[data-justify="space-evenly"] { justify-content: space-evenly; }




[data-position="center"] {margin: auto;}
[data-position="right"] {margin-left: auto;}
[data-position="left"] {margin-right: auto;}
[data-position="bottom"] {margin-top: auto;}





[data-position="absolute"] {position: absolute;}
[data-position="fixed"] {position: fixed;}


/* Bottom positions */

[data-bottom="-30"] { bottom: -30px; }
[data-bottom="-60"] { bottom: -60px; }
[data-bottom="-90"] { bottom: -90px; }

[data-bottom="0"] { bottom: 0px; }
[data-bottom="5"] { bottom: 5px; }
[data-bottom="10"] { bottom: 10px; }
[data-bottom="15"] { bottom: 15px; }
[data-bottom="20"] { bottom: 20px; }
[data-bottom="25"] { bottom: 25px; }
[data-bottom="30"] { bottom: 30px; }
[data-bottom="60"] { bottom: 60px; }
[data-bottom="90"] { bottom: 90px; }
[data-bottom="100"] { bottom: 100px; }
[data-bottom="110"] { bottom: 110px; }

/* Right positions */
[data-right="-5"] { right: -5px; }
[data-right="0"] { right: 0px; }
[data-right="5"] { right: 5px; }
[data-right="10"] { right: 10px; }
[data-right="15"] { right: 15px; }
[data-right="20"] { right: 20px; }
[data-right="25"] { right: 25px; }
[data-right="30"] { right: 30px; }

/* Top positions */
[data-top="-30"] { top: -30px; }
[data-top="-60"] { top: -60px; }
[data-top="-90"] { top: -90px; }
[data-top="-20"] { top: -20px; }
[data-top="0"] { top: 0px; }
[data-top="5"] { top: 5px; }
[data-top="10"] { top: 10px; }
[data-top="15"] { top: 15px; }
[data-top="20"] { top: 20px; }
[data-top="25"] { top: 25px; }
[data-top="30"] { top: 30px; }
[data-top="60"] { top: 60px; }
[data-top="90"] { top: 90px; }

/* Left positions */

[data-left="-10"] { left:-10px; }
[data-left="-20"] { left:-20px; }
[data-left="-30"] { left:-30px; }
[data-left="-40"] { left:-40px; }

[data-left="0"] { left: 0px; }
[data-left="5"] { left: 5px; }
[data-left="10"] { left: 10px; }
[data-left="15"] { left: 15px; }
[data-left="20"] { left: 20px; }
[data-left="25"] { left: 25px; }
[data-left="30"] { left: 30px; }
[data-left="full"] { left: 100%; }


[dir="rtl"] [data-position="right"] {margin-right: auto;margin-left: initial;}
[dir="rtl"] [data-position="left"] {margin-left: auto;margin-left: initial;}




[data-break="break-all"]{word-break: break-all;}
[data-break="break-word"]{word-break: break-word;}


[data-text-size="0"] {font-size:0px;}
[data-text-size="12"] {font-size:12px;}
[data-text-size="13"] {font-size:13px;}
[data-text-size="14"] {font-size:14px;}
[data-text-size="15"] {font-size:15px;}

[data-text-size="small"] {font-size:12px;}
[data-text-size="medium"] {font-size:16px;}
[data-text-size="large"] {font-size:18px;}
[data-text-size="larger"] {font-size:20px;}
[data-text-size="x-large"] {font-size:24px;}
[data-text-size="xx-large"] {font-size:32px;}
[data-text-size="xxx-large"] {font-size:48px;}

[data-text-size="36"] {font-size:36px;}
[data-text-size="48"] {font-size:48px;}
[data-text-size="64"] {font-size:64px;}
[data-text-size="72"] {font-size:72px;}
[data-text-size="96"] {font-size:96px;}
[data-text-size="128"] {font-size:128px;}

[data-text-clamp="128"] {font-size: clamp(var(--text), 15vw, 128px);}
[data-text-clamp="96"] {font-size: clamp(var(--text), 15vw, 96px);}
[data-text-clamp="64"] {font-size: clamp(var(--text), 10vw, 64px);}





[data-weight="100"] {font-weight:100}
[data-weight="300"] {font-weight:300}
[data-weight="400"] {font-weight:400}
[data-weight="500"] {font-weight:500}
[data-weight="600"] {font-weight:600}
[data-weight="700"] {font-weight:700}
[data-weight="800"] {font-weight:800}
[data-weight="900"] {font-weight:900}

[data-font-type="mono"]{ font-family: reddit mono;}
[data-font-type="hero"]{ font-family: var(--hero-font);}


[data-length]{flex-shrink: 0; max-width: 100%;}

[data-length="auto"] {width:initial}




[data-length='0'] { width: 0px; }
[data-length='1'] { width: 1px; }
[data-length='2'] { width: 2px; }
[data-length='3'] { width: 3px; }
[data-length='4'] { width: 4px; }
[data-length='5'] { width: 5px; }


[data-length='8']  { width:8px; }
[data-length='10'] { width:10px; }
[data-length='12'] { width:12px; }
[data-length='14'] { width:14px; }
[data-length='15'] { width:15px; }
[data-length='16'] { width:16px; }
[data-length='18'] { width:18px; }
[data-length='20'] { width:20px; }


[data-length='25'] { width: 25px; }
[data-length='30'] { width: 30px; }
[data-length='40'] { width: 40px; }
[data-length='50'] { width: 50px; }
[data-length='60'] { width: 60px; }
[data-length='70'] { width: 70px; }
[data-length='80'] { width: 80px; }
[data-length='90'] { width: 90px; }
[data-length='100'] { width: 100px; }
[data-length='110'] { width: 110px; } 
[data-length='120'] { width: 120px; } 
[data-length='130'] { width: 130px; } 
[data-length='140'] { width: 140px; } 
[data-length='150'] { width: 150px; } 
[data-length='160'] { width: 160px; } 
[data-length='170'] { width: 170px; } 
[data-length='180'] { width: 180px; } 
[data-length='190'] { width: 190px; } 
[data-length='200'] { width: 200px; } 
[data-length='210'] { width: 210px; } 
[data-length='220'] { width: 220px; } 
[data-length='240'] { width: 240px; } 
[data-length='260'] { width: 260px; }
[data-length='280'] { width: 280px; }
[data-length='300'] { width: 300px; }
[data-length='310'] { width: 310px; }
[data-length='320'] { width: 320px; }
[data-length='330'] { width: 330px; }
[data-length='340'] { width: 340px; }
[data-length='350'] { width: 350px; }
[data-length='360'] { width: 360px; }
[data-length='370'] { width: 380px; }
[data-length='380'] { width: 380px; }
[data-length='390'] { width: 390px; }
[data-length='400'] { width: 400px; }
[data-length='410'] { width: 410px; }
[data-length='500']{width:500px;}
[data-length='600']{width:600px;}
[data-length='700']{width:700px;}

[data-length='610'] { width: 610px; }

[data-length='fit']{width:100%;}



[data-max-length='auto']{max-width:initial;}
[data-max-length='fit']{max-width:100%;}
[data-max-length='100']{max-width:100px;}
[data-max-length='120']{max-width:120px;}
[data-max-length='180']{max-width:180px;}
[data-max-length='200']{max-width:200px;}

[data-max-length='240']{max-width:240px;}
[data-max-length='250']{max-width:250px;}
[data-max-length='260']{max-width:260px;}

[data-max-length='300']{max-width:300px;}
[data-max-length='350']{max-width:350px;}
[data-max-length='360']{max-width:360px;}
[data-max-length='400']{max-width:400px;}
[data-max-length='500']{max-width:500px;}
[data-max-length='600']{max-width:600px;}
[data-max-length='700']{max-width:700px;}
[data-max-length='800']{max-width:800px;}
[data-max-length='810']{max-width:810px;}
[data-max-length='900']{max-width:900px;}
[data-max-length='1000']{max-width:1000px;}
[data-max-length='1200']{max-width:1200px;}
[data-max-length='1600']{max-width:1600px;}


[data-max-length='1120'] {
  max-width: 1120px;
}

[data-min-length='80']{min-width:80px;}
[data-min-length='120']{min-width:120px;}
[data-min-length='140']{min-width:140px;}
[data-min-length='150']{min-width:150px;}
[data-min-length='160']{min-width:160px;}
[data-min-length='180']{min-width:180px;}
[data-min-length='200']{min-width:200px;}
[data-min-length='240']{min-width:240px;}
[data-min-length='280']{min-width:280px;}
[data-min-length='300']{min-width:300px;}
[data-min-length='360']{min-width:360px;}
[data-min-length='400']{min-width:400px;}
[data-min-length='500']{min-width:500px;}
[data-min-length='600']{min-width:600px;}
[data-min-length='700']{min-width:700px;}
[data-min-length='800']{min-width:800px;}
[data-min-length='900']{min-width:900px;}
[data-min-length='fit']{min-width: 100%;}

[data-length='autofit'] { flex: 1; }

[data-fit]{flex-basis: 0%;}
[data-fit='1'] { flex-grow: 1; }
[data-fit='1.5'] { flex-grow: 1.5; }
[data-fit='2'] { flex-grow: 2; }
[data-fit='2.5'] { flex-grow: 2.5; }
[data-fit='3'] { flex-grow: 3; }
[data-fit='3.5'] { flex-grow: 3.5; }
[data-fit='4'] { flex-grow: 4; }

[data-length='auto']{ flex: auto; }




@media (max-width: 600px)
{
  [data-length='forcefit'] { flex: 1 1 100%; }
  [data-length='autofit-600'] { flex: 1; }
}



[data-text-nowrap] { white-space: nowrap; }
[data-text-line="1.5"] {line-height:1.5}

[data-shrink="no"] { flex-shrink: 0 }
[data-shrink="yes"] { flex-shrink: initial }

[data-uppercase] {text-transform: uppercase;}
[data-headline]{font-family: var(--headline-font);}

[width="auto"] {width:auto;}


[data-hidden=""] {display: none;}

[data-hide="true"] {display: none;}

a[data-link]{text-decoration:underline; font-weight:700; color:var(--text-color)}
a[data-link]:hover { color:var(--main-color)}
a[data-link]:active {transform:translateY(1px)}





[data-adaptive="mobile"] {
  display: none;
}

@media (max-width: 800px) {

[data-adaptive="mobile"] {
    display: flex;
  }

    [data-adaptive="desktop"] {
      display: none;
    }
}



@media (max-width: 600px) 

{
  [data-adaptive="600"]{display: none;}
}


space { display: flex; height: 30px; width: 100%; flex-shrink: 0; }


[data-text-direction="ltr"]{direction: ltr;}


[data-direction='column'] { flex-direction: column;}
[data-direction='row'] { flex-direction: row; }


picture {height: 100%;width: 100%;position: relative;display: flex;overflow: hidden;align-items: center;justify-content: center;text-align: center;flex-direction: column;}
picture img{ pointer-events: none; transform-origin: bottom center; object-fit: cover; width: 100%; height: 100%;transition: .125s; }
/* picture[data-mask] { -webkit-mask-image: linear-gradient(black 50%, transparent); mask-image: linear-gradient(black 50%, transparent); } */


[data-mask="top"] { -webkit-mask-image: linear-gradient(transparent 0%, black); mask-image: linear-gradient(transparent 0%, black); }
[data-mask="bottom"] { -webkit-mask-image: linear-gradient(black 0%, transparent); mask-image: linear-gradient(black 0%, transparent); }

picture[data-object-fit='contain'] img{object-fit: contain;width: auto;height:auto;max-height: 100%;max-width: 100%;}

[data-react="scale"] picture {transition: .425s;}
[data-react="scale"]:hover picture {transform: scale(1.025);transition: .125s;}
[data-react="scale"]:active  picture {transform:none; transition: none;}

[data-object-fit='contain']{object-fit: contain;}
[data-object-fit='cover']{object-fit: cover;}


[data-ratio] {height: initial;}

[data-ratio="1:1"]{aspect-ratio:1/1} 
[data-ratio="1:2"]{aspect-ratio:1/2} 
[data-ratio="1:4"]{aspect-ratio:1/4} 
[data-ratio="16:9"]{aspect-ratio:16/9} 
[data-ratio="4:5"]{aspect-ratio:4/5} 
[data-ratio="4:3"]{aspect-ratio:4/3} 
[data-ratio="2:1"]{aspect-ratio: 2/1;}
[data-ratio="2:3"]{aspect-ratio: 2/3;}

[ data-ratio="1:2/4:5"]{aspect-ratio:1/2} 

@media (max-width: 600px)
{
  [ data-ratio="1:2/4:5"]{aspect-ratio:4/5} 
}



[data-text-nowrap] { white-space: nowrap; }
[data-text-line="1.3"] {line-height:1.3}
[data-text-line="1.5"] {line-height:1.5}


/* [data-height]{flex-shrink: 0;} */
[data-height='1'] { height:1px; }
[data-height='2'] { height:2px; }
[data-height='3'] { height:3px; }
[data-height='4'] { height:4px; }
[data-height='5'] { height:5px; }
[data-height='6'] { height:6px; }
[data-height='8'] { height:8px; }
[data-height='10'] { height:10px; }
[data-height='12'] { height:12px; }
[data-height='14'] { height:14px; }
[data-height='15'] { height:15px; }
[data-height='16'] { height:16px; }
[data-height='18'] { height:18px; }
[data-height='20'] { height:20px; }
[data-height='30'] { height:30px; }

[data-height='36'] { height:36px; }


[data-height='40'] { height:40px; }
[data-height='45'] { height:45px; }
[data-height='50'] { height:50px; }
[data-height='60'] { height:60px; }
[data-height='70'] { height:70px; }
[data-height='80'] { height:80px; }
[data-height='90'] { height:90px; }
[data-height='100'] { height:100px; }
[data-height='110'] { height:110px; }
[data-height='120'] { height:120px; }
[data-height='130'] { height:130px; }
[data-height='140'] { height:140px; }
[data-height='160'] { height:160px; }
[data-height='150'] { height:150px; }
[data-height='180'] { height:180px; }
[data-height='200'] { height:200px; }
[data-height='220'] { height:220px; }
[data-height='240'] { height:240px; }

[data-height='300'] { height:300px; }
[data-height='320'] { height:320px; }
[data-height='360'] { height:360px; }


[data-height='400'] { height:400px; }
[data-height='500'] { height:500px; }
[data-height='600'] { height:600px; }


[data-height='fit'] { height:100%; }
[data-height='auto'] { height:initial; }
[data-height='autofit'] { flex:1 }

[data-margin-top="-20"] {margin-top:-20px}
[data-margin-top="-30"] {margin-top:-30px}
[data-margin-top="-60"] {margin-top:-60px}
[data-margin-right="-30"]{margin-right:-30px}
[data-margin-bottom="-30"]{margin-bottom:-30px}
[data-margin-bottom="-20"]{margin-bottom:-20px}

[data-margin-top="30"] {margin-top:30px}
[data-margin-top="20"] {margin-top:20px}

[data-margin-top="-1"] {margin-top:-1px}
[data-margin="5"] {margin:5px}
[data-margin="10"] {margin:10px}
[data-margin="15"] {margin:15px}
[data-margin="20"] {margin:20px}
[data-margin="30"] {margin:30px}
[data-margin="40"] {margin:40px}


[data-margin-horizontal="5"] {margin-left:5px; margin-right: 5px;}
[data-margin-vertical="5"] {margin-top:5px; margin-bottom: 5px;}
[data-margin-vertical="10"] {margin-top:10px; margin-bottom: 10px;}
[data-margin="auto"]{margin:auto}
[data-margin-right="0"]{margin-right:0px;}


[data-max-height='fit']{max-height:100%;}
[data-max-height='200']{max-height:200px;}
[data-max-height='300']{max-height:300px;}
[data-max-height='400']{max-height:400px;}

[data-min-height='30']{min-height:30px;}
[data-min-height='130']{min-height:130px;}
[data-min-height='200']{min-height:200px;}
[data-min-height='240']{min-height:240px;}
[data-min-height='280']{min-height:280px;}
[data-min-height='300']{min-height:300px;}
[data-min-height='400']{min-height:400px;}
[data-min-height='fit']{min-height: 100%;}


[data-space="adaptive-30-50"] {padding: 50px;}


@media (max-width: 600px)
{
  [data-space="adaptive-30-50"] {padding: 30px;}
}




[data-space='0'] { padding:0px;}
[data-space='3'] { padding:3px;}
[data-space='5'] { padding:5px;}
[data-space='7'] { padding:7px;}
[data-space='8'] { padding:8px;}


[data-space='10'] { padding:10px;}
[data-space='15'] { padding:15px;}
[data-space='20'] { padding:20px;}
[data-space='25'] { padding:25px;}
[data-space='30'] { padding:30px;}
[data-space='40'] { padding:40px;}
[data-space='50'] { padding:50px;}

[data-space-horizontal='5'] {padding-left: 5px; padding-right: 5px;}
[data-space-horizontal='10'] {padding-left: 10px; padding-right: 10px;}
[data-space-horizontal='15'] {padding-left: 15px; padding-right: 15px;}
[data-space-horizontal='20'] {padding-left: 20px; padding-right: 20px;}
[data-space-horizontal='30'] {padding-left: 30px; padding-right: 30px;}
[data-space-horizontal='40'] {padding-left: 40px; padding-right: 40px;}
[data-space-horizontal='50'] {padding-left: 50px; padding-right: 50px;}


[data-space-vertical='5'] {padding-top:5px; padding-bottom: 5px;}
[data-space-vertical='10'] {padding-top:10px; padding-bottom: 10px;}
[data-space-vertical='15'] {padding-top:15px; padding-bottom: 15px;}
[data-space-vertical='20'] {padding-top:20px; padding-bottom: 20px;}
[data-space-vertical='30'] {padding-top:30px; padding-bottom: 30px;}
[data-space-vertical='40'] {padding-top:40px; padding-bottom: 40px;}
[data-space-vertical='50'] {padding-top:50px; padding-bottom: 50px;}


[data-space-left='5'] {padding-left:5px;}
[data-space-left='10'] {padding-left:10px;}
[data-space-left='20'] {padding-left:20px;}

[data-space-right='0'] {padding-right:0px;}
[data-space-right='5'] {padding-right:5px;}
[data-space-right='10'] {padding-right:10px;}
[data-space-right='20'] {padding-right:20px;}
[data-space-right='30'] {padding-right:30px;}

[data-space-bottom='5'] {padding-bottom:5px;}
[data-space-bottom='10'] {padding-bottom:10px;}
[data-space-bottom='20'] {padding-bottom:20px;}
[data-space-bottom='30'] {padding-bottom:30px;}

[data-space-top='5'] {padding-top:5px;}
[data-space-top='10'] {padding-top:10px;}
[data-space-top='20'] {padding-top:20px;}
[data-space-top='30'] {padding-top:30px;}
[data-space-top='40'] {padding-top:40px;}
[data-space-top='50'] {padding-top:50px;}

[data-space-bottom='150'] {padding-bottom:150px;}


[data-space='10%'] { padding:10%;}

/**/



[data-gap='1'] { gap: 1px; }
[data-gap='2'] { gap: 2px; }
[data-gap='5'] { gap: 5px; }
[data-gap='10'] { gap: 10px; }
[data-gap='15'] { gap: 15px; }
[data-gap='20'] { gap: 20px; }
[data-gap='30'] { gap: 30px; }
[data-gap='40'] { gap: 40px; }
[data-gap='50'] { gap: 50px; }
[data-gap='100'] { gap: 100px; }

[data-gap='none'] { gap: 0px; }


/**/
[data-border='overprint']{box-shadow: 0 0 0 1px var(--outline);}
[data-border='outline']{box-shadow:inset 0 0 0 1px var(--outline);}
[data-border='']{box-shadow: 0 0 0 1px var(--border-color);}
[data-border='inset']{box-shadow:inset  0 0 0 1px var(--border-color);}
[data-border="no"]{box-shadow: none;}
[data-border='2']{box-shadow: 0 0 0 2px}



[data-radius="0"]{border-radius: 0px;}
[data-radius="1"]{border-radius: 1px;}
[data-radius="2"]{border-radius: 2px;}
[data-radius="3"]{border-radius: 3px;}
[data-radius="5"]{border-radius: 5px;}
[data-radius="7"]{border-radius: 7px;}
[data-radius="10"]{border-radius: 10px;}
[data-radius="15"]{border-radius: 15px;}
[data-radius="20"]{border-radius: 20px;}
[data-radius="25"]{border-radius: 25px;}
[data-radius="30"]{border-radius: 30px;}
[data-radius="40"]{border-radius: 40px;}
[data-radius="full"]{border-radius: 100%;}


@media (min-width: 801px) 

{
  [data-radius="15-desktop"]{border-radius: 15px;}
}




[data-radius="bubble-left"] {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;

}


[data-radius-top="5"]{border-top-left-radius:5px;border-top-right-radius: 5px;}
[data-radius-top="10"]{border-top-left-radius:10px;border-top-right-radius: 10px;}
[data-radius-top="15"]{border-top-left-radius:15px;border-top-right-radius: 15px;}

[data-radius-bottom="10"]{border-bottom-left-radius:10px;border-bottom-right-radius: 10px;}
[data-radius-bottom="15"]{border-bottom-left-radius:15px;border-bottom-right-radius: 15px;}

[data-radius-bottom-left="0"]{border-bottom-left-radius: 0px;}
[data-radius-top-left="0"]{border-top-left-radius: 0px;}
[data-radius-bottom-right="0"]{border-bottom-right-radius: 0px;}
[data-radius-top-right="15"]{border-top-right-radius: 15px;}

[data-radius-bottom-left="15"]{border-bottom-left-radius: 15px;}



[data-shadow]{filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.1)) drop-shadow(0 0px 1px rgba(0, 0, 0, 0.2))}






[data-interactive]:hover,
[data-interact="popover"][data-popover-expand="true"],
[data-interactive]:hover [data-react="background"] 

{ background-image: var(--over-color);}


/* @media(hover: hover) and (pointer: fine) {

  


} */

/* [data-interactive] {-webkit-tap-highlight-color:var(--main-color-alpha-15)} */


[data-over-color="none"][data-interactive]:hover {background-image: none;}





[data-interactive="elevation-2"]:hover {box-shadow: var(--elevation_2);}





[data-interactive=""]:active text,
[data-interactive=""]:active dot,
[data-interactive=""]:active icon,
[data-interactive]:active [data-type="interact"],
[data-interactive]:active [data-interact=""],
[data-interactive]:active [data-name="cred-icon"]

{transform: translateY(1px);}


[data-interactive="select"]{}




[data-elevation="1"]{box-shadow: var(--elevation_1);}
[data-elevation="2"]{box-shadow: var(--elevation_2);}
[data-elevation="3"]{box-shadow: var(--elevation_3);}
[data-elevation="4"]{box-shadow: var(--elevation_4);}
[data-elevation="5"]{box-shadow: var(--elevation_5);}
[data-elevation="6"]{box-shadow: var(--elevation_6);}


[data-elevation="2-main-color"]{box-shadow:0 80px 70px -50px var(--main-color-alpha-50), 0 0 0 1px rgba(0,0,0,.05)}




[data-interactive=""][data-elevation="1"]:active,
[data-interactive=""][data-elevation="2"]:active,
[data-interactive=""][data-elevation="6"]:active,
[data-popover-expand="true"] [data-interactive=""][data-elevation="6"]

{box-shadow: var(--elevation_0);}




[data-cursor="auto"]{cursor: auto;}
[data-cursor="pointer"]{cursor: pointer;}
[data-cursor="default"]{cursor: default;}

[data-type="link"]{cursor: pointer; color:var(--main-color)}
[data-type="link"]:hover{text-decoration: underline;}
[data-type="link"]:active{transform: translateY(1px);}


[data-appearance="none"] {appearance:none;-webkit-appearance: none;}


[data-index="999"] {z-index: 999;}
[data-index="103"] {z-index: 103;}
[data-index="102"] {z-index: 102;}
[data-index="101"] {z-index: 101;}
[data-index="4"] {z-index: 4;}
[data-index="3"] {z-index: 3;}
[data-index="2"] {z-index: 2;}
[data-index="1"] {z-index: 1;}

[data-user-select="text"] {user-select: text; cursor: text;}
[data-user-select="initial"] {user-select: initial;cursor: initial; -webkit-user-select: initial;}


[data-order="1"]{order:1}
[data-order="2"]{order:2}
[data-order="3"]{order:3}
[data-order="4"]{order:3}

[data-orientation="vertical"] {    writing-mode: vertical-rl; text-orientation: mixed;}
[data-orientation="vertical-bottom"] {            writing-mode: tb-rl; transform: rotate(180deg);}


[data-float="left"]{float: left;}
[data-float="right"]{float: right;}




    [data-name="separation"]:first-of-type > separator,
    [data-name="autoseparation"]:first-of-type > separator
    
    {display: none;}

    [data-name="autoseparation"]:hover > separator,
    [data-name="autoseparation"]:hover + [data-name="autoseparation"] > separator
  
    {opacity: 0;}

    /* stylelint-enable */


    
    








    [data-timing="fancy"]{transition-timing-function: cubic-bezier(0,1.3,.7,1);}
    [data-duration="1"]{transition-duration: 1s;}
    [data-duration=".725"]{transition-duration: .725s;}
    [data-duration=".325"]{transition-duration: .325s;}
    [data-duration=".225"]{transition-duration: .225s;}
    [data-duration=".125"]{transition-duration: .125s;}






    [data-zoom="3"]{zoom:3}

    [data-scale="2"]{transform: scale(2);}
    [data-scale="3"]{transform: scale(3);}

    [data-origin="left"]{transform-origin: left;}



    [data-translate-vertical="200"] {transform: translateY(-200px);}
    [data-translate-vertical="300"] {transform: translateY(-300px);}
    [data-translate-vertical="400"] {transform: translateY(-400px);}

    [data-translate-vertical="50%"] {transform: translateY(-50%);}




[data-drag="none"]{-webkit-user-drag: none;}
[data-touch-action="manipulation"]{touch-action: manipulation;}

[data-text-transform="capitalize"] { text-transform: capitalize; }
[data-text-transform="uppercase"] { text-transform: uppercase; }
[data-text-transform="lowercase"] { text-transform: lowercase; }
[data-text-transform="none"] { text-transform: none; }

[data-hypens="auto"]{hyphens: auto;}

:root {

  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);

  --sab: env(safe-area-inset-bottom); /* THIS ONE GETS US THE HOME BAR HEIGHT */
  --sal: env(safe-area-inset-left);
}



[data-space-bottom="15-sab"]{padding-bottom:max(var(--sab), 15px);}
[data-space-bottom="10-sab"]{padding-bottom:max(var(--sab), 10px);}

[data-transition-prop="font-size"]{transition-property: font-size;}
[data-transition-prop="stroke-dashoffset"]{transition-property: stroke-dashoffset;}
[data-transition-prop="stroke-dasharray"]{transition-property: stroke-dasharray;}
[data-transition-prop="transform"]{transition-property: transform;}


[data-rotate="-225"]{transform: rotate(-225deg);}


[data-filter="blur-90"]{filter: blur(90px);}
[data-mix-lend-mode="hardlight"] { mix-blend-mode: hard-light;}
[data-mix-lend-mode="multiply"] { mix-blend-mode: multiply;}
[data-mix-lend-mode="screen"] { mix-blend-mode: screen;}


[data-contain=""]{contain: content; overflow:hidden;}
[data-contain="visible"]{ contain: initial; overflow:initial;}


view[data-scroll],
[data-scroll],
[data-contain="scroll"]
{ overflow: auto; overflow: overlay; -webkit-overflow-scrolling: touch;}




[data-visibility="visible"]{visibility: visible;}
[data-visibility="hidden"]{visibility: hidden;}