/* CredBone UI Framefork Component / Layout / Version 3.0.0 */
/* Copyright 2024. Design Department. All rights reserved */

:root {

    --background: #fbfbfb;
    --border-color: #e4e4e4;
    --highlight: #ededed;

        

        --over-color: linear-gradient(to top, var(--main-color-lighter) 0%, var(--main-color-lighter) 100%);
        --press-color: linear-gradient(to top, var(--main-color-light) 0%, var(--main-color-light) 100%);

    
        
    }
    
  
  
    [data-theme="dark"] [data-brightness="adaptive"]{filter: brightness(.5);}
    [data-theme="dark"] [data-mix-blend-mode="overlay"]{mix-blend-mode: overlay;}

.selected [data-brightness="adaptive"]{filter: brightness(1);}








[data-dark],
[data-theme="dark"]

{
    color: #fbfbfb;
    fill:#fbfbfb;
    --text-color: #fbfbfb;
    --outline: rgba(255, 255, 255, .08);
    --background: #191919;
    --context: #232323;
    --border-color: #2b2b2b;
    /* --over-color: linear-gradient(to top, rgba(255, 255, 255, .04) 0%, rgba(255, 255, 255, .04) 100%);
    --press-color: linear-gradient(to top, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .1) 100%); */
    --overlay: rgba(6, 6, 6, 0.9);
    --highlight: #212121;

    --dim: rgba(16, 16, 16, 0.9);
    --backdrop:rgba(34, 34, 34, 0.8);

    --elevation_1: 0 0 50px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
    /* --elevation_5: 0 0 15px 2px rgb(0 0 0 / 30%), 0 0 0 1px rgb(255 255 255 / 10%);
    --elevation_6: 0 10px 6px -4px rgb(0 0 0 / 30%), 0 0 0 1px rgb(255 255 255 / 10%); */
    

}



  @media (prefers-color-scheme: dark) 
  
  {

    [data-theme="auto"] [data-brightness="adaptive"]{filter: brightness(.5);}


    /* [data-theme="auto"] [data-name="rays"]{transform: scale(0) rotate(-90deg); opacity: 0;}
    [data-theme="auto"] [data-name="sun"]{r:8; transform: rotate(-90deg);}
    [data-theme="auto"] [data-name="moon"]{cx: 16;cy: 16;r: 6;} */





    [data-theme="auto"]

{
    color: #fbfbfb;
    fill:#fbfbfb;
    --text-color: #fbfbfb;
    --outline: rgba(255, 255, 255, .08);
    --background: #191919;
    --context: #232323;
    --border-color: #2b2b2b;
    /* --over-color: linear-gradient(to top, rgba(255, 255, 255, .04) 0%, rgba(255, 255, 255, .04) 100%);
    --press-color: linear-gradient(to top, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .1) 100%); */
    --overlay: rgba(6, 6, 6, 0.9);
    --highlight: #212121;

    --dim: rgba(16, 16, 16, 0.9);
    --backdrop:rgba(34, 34, 34, 0.8);

    --elevation_1: 0 0 50px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
    /* --elevation_5: 0 0 15px 2px rgb(0 0 0 / 30%), 0 0 0 1px rgb(255 255 255 / 10%);
    --elevation_6: 0 10px 6px -4px rgb(0 0 0 / 30%), 0 0 0 1px rgb(255 255 255 / 10%); */

}
    
  }




[data-sticky="top"].sticky{top: -1px;border-top: 1px solid transparent; flex-shrink: 0; margin-top: -1px;}

[data-sticky="bottom"]{bottom: -1px;border-bottom: 1px solid transparent; flex-shrink: 0; margin-bottom: -1px;}


/* .sticky.stuck {padding: 15px;}
.sticky.stuck > group{box-shadow: var(--elevation_2); background: var(--context); border-radius: 10px;} */





input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-internal-autofill-selected

{
transition: background-color 5000s 0s, color 5000s 0s;
}


  .dark-mode,
  .dark-mode input:-webkit-autofill,
  .dark-mode input:-webkit-autofill:focus,
  .dark-mode input:-internal-autofill-selected
 {
   color-scheme: dark;
}





[data-name="marquee_cont"] [data-marquee]{ animation-fill-mode: both;animation-name: marquee_back;animation-duration: .325s;animation-timing-function: cubic-bezier(.6, .35, 0, 1.21); }
[data-name="marquee_cont"].start [data-marquee]{animation-name:marquee; padding-right:20px; animation-duration: var(--duration-value);animation-timing-function: linear; animation-iteration-count: infinite; }
[dir="rtl"] [data-name="marquee_cont"].start [data-marquee]{animation-name:marquee_left;padding-left:20px; padding-right:initial;}
[data-name="marquee_cont"]{ -webkit-mask-image:linear-gradient(to right, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px)); mask-image: linear-gradient(to right, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px)); }
[dir="rtl"] [data-name="marquee_cont"]{ -webkit-mask-image:linear-gradient(to left, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px)); mask-image: linear-gradient(to left, #000 calc(100% - 40px), rgba(0, 0, 0, 0) calc(100% - 10px)); }



[data-name="marquee_cont"].start{ -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000 20px, #000 calc(100% - 20px), rgba(0, 0, 0, 0) 100%); mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000 20px, #000 calc(100% - 20px), rgba(0, 0, 0, 0) 100%); }

@keyframes marquee{to{transform:translateX(-100%)}}
@keyframes marquee_left{to{transform:translateX(100%)}}
@keyframes marquee_back{from{transform:var(--transform-value)}to{}}


/* stylelint-enable */



[data-sticky="adaptive-top-bottom"] {position:sticky;top: 0;}
[data-bottom="30/90"] {bottom: 30px;}

@media (max-width: 800px) 
{

  .mobile [data-bottom="30/90"] {bottom: 90px;}
  .mobile [data-adaptive-order="2"]{order:2}
  .mobile [data-sticky="adaptive-top-bottom"] {position:sticky;bottom: 0;}

}




[data-name="theme-item"]:not(.selected) > group{font-size: 0px;}
[data-name="theme-item"]{transition: .225s .125s; transition-property: margin,  border-radius}
[data-name="theme-item"]:has( + .selected){ border-bottom-right-radius: 5px;border-top-right-radius: 5px;}
[data-name="theme-item"].selected + [data-name="theme-item"]{border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
[data-name="theme-item"].selected {margin-left:5px; margin-right: 5px; border-radius: 5px;}
[data-name="theme-item"].selected:first-child{margin-left:0px;}
[data-name="theme-item"].selected:last-child{margin-right:0px;}
[data-name="theme-item"]:first-child{border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
[data-name="theme-item"]:last-child{border-bottom-right-radius: 5px;border-top-right-radius: 5px;}




@keyframes snackbar-appear {from{ opacity: 0;margin-bottom: -30px; transform: translateY(10px);  }to{ }}
.snackbar-container {position: relative;width: 100%;pointer-events: none;}
.snackbar-container > group {bottom: 0;z-index: 9999;  }
.snackbar {animation: snackbar-appear backwards .325s;transition:  125ms; clip-path: inset(0 0 0 0 round 10px) }
.snackbar-exit { opacity: 0; transform: translateY(-20px); }
[data-background="snackbar"] { background-color: #2d2d2d; }



input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}



@media print {
  [data-print="hide"],
  [data-print="hide"][data-adaptive="mobile"]{display: none;}
  
html{zoom: .85;}
  
  
  :root
  
  {
    --background: #fbfbfb;
    --border-color: #e4e4e4; 
    --text-color: #191919;
  }
  
  
  }
  
  @media screen {
    [data-print="show"]{display: none;}
    }
  


    @page {
      size: A4; 

    

      margin-top: 0;
      margin-bottom: 0;
    
      @top-left {
        content: none;
      }
      @top-center {
        content: none;
      }
      @top-right {
        content: none;
      }
      @bottom-left {
        content: none;
      }
      @bottom-center {
        content: none;
      }
      @bottom-right {
        content: none;
      }
    }



    [ data-name="color-indicator"] { transform: translateX(-50%) translateY(-50%);}
    [data-name="color-source"]:active {cursor: none;}